# ETLs

## Imports

In [34]:
import pandas as pd
import sqlite3
import pyodbc

select_tables = "SELECT name FROM sqlite_master WHERE type='table'"

sales_con = sqlite3.connect("go_sales.sqlite")
sales_tables = pd.read_sql_query(select_tables, sales_con)

sales_country       = pd.read_sql_query("SELECT * FROM country;", sales_con)
order_details       = pd.read_sql_query("SELECT * FROM order_details;", sales_con)
order_header        = pd.read_sql_query("SELECT * FROM order_header;", sales_con)
order_method        = pd.read_sql_query("SELECT * FROM order_method;", sales_con)
product             = pd.read_sql_query("SELECT * FROM product;", sales_con)
product_line        = pd.read_sql_query("SELECT * FROM product_line;", sales_con)
product_type        = pd.read_sql_query("SELECT * FROM product_type;", sales_con)
sales_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site;", sales_con)
return_reason       = pd.read_sql_query("SELECT * FROM return_reason;", sales_con)
returned_item       = pd.read_sql_query("SELECT * FROM returned_item;", sales_con)
sales_branch        = pd.read_sql_query("SELECT * FROM sales_branch;", sales_con)
sales_staff         = pd.read_sql_query("SELECT * FROM sales_staff;", sales_con)
SALES_TARGETData    = pd.read_sql_query("SELECT * FROM SALES_TARGETData;", sales_con)
sqlite_sequence     = pd.read_sql_query("SELECT * FROM sqlite_sequence;", sales_con)
print("Imported sales tables")

staff_con = sqlite3.connect("go_staff.sqlite")
staff_tables = pd.read_sql_query(select_tables, staff_con)

course            = pd.read_sql_query("SELECT * FROM course;", staff_con)
sales_branch      = pd.read_sql_query("SELECT * FROM sales_branch;", staff_con)
sales_staff       = pd.read_sql_query("SELECT * FROM sales_staff;", staff_con)
satisfaction      = pd.read_sql_query("SELECT * FROM satisfaction;", staff_con)
satisfaction_type = pd.read_sql_query("SELECT * FROM satisfaction_type;", staff_con)
training          = pd.read_sql_query("SELECT * FROM training;", staff_con)
print("Imported staff tables")

crm_con = sqlite3.connect("go_crm.sqlite")
crm_tables = pd.read_sql_query(select_tables, crm_con)
                           
age_group             = pd.read_sql_query("SELECT * FROM age_group;", crm_con)
crm_country           = pd.read_sql_query("SELECT * FROM country;", crm_con)
retailer              = pd.read_sql_query("SELECT * FROM retailer;", crm_con)
retailer_contact      = pd.read_sql_query("SELECT * FROM retailer_contact;", crm_con)
retailer_headquarters = pd.read_sql_query("SELECT * FROM retailer_headquarters;", crm_con)
retailer_segment      = pd.read_sql_query("SELECT * FROM retailer_segment;", crm_con)
crm_retailer_site     = pd.read_sql_query("SELECT * FROM retailer_site;", crm_con)
retailer_type         = pd.read_sql_query("SELECT * FROM retailer_type;", crm_con)
sales_demographic     = pd.read_sql_query("SELECT * FROM sales_demographic;", crm_con)
sales_territory       = pd.read_sql_query("SELECT * FROM sales_territory;", crm_con)
print("Imported crm tables")

inventory_level = pd.read_csv("GO_SALES_INVENTORY_LEVELSData.csv")
print("Imported inventory table")

sales_forecast = pd.read_csv("GO_SALES_PRODUCT_FORECASTData.csv")
print("Imported sales product forecast table")

Imported sales tables
Imported staff tables
Imported crm tables
Imported inventory table
Imported sales product forecast table

## SQL Server connection

In [35]:
servername = 'DESKTOP-9F8A8PF\\MSSQLSERVER01'
database = 'Datawarehouse'

sql_server_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={servername};DATABASE={database};Trusted_Connection=yes")
cursor = sql_server_conn.cursor()

try:
    cursor.execute("SELECT * FROM Test")
    test = cursor.fetchall()
    print(test)
except pyodbc.Error as e:
    print(e)

[(1, 'test      '), (2, 'test2     ')]

In [36]:
"""
Flexible method to merge two tables
- NaN values of one dataframe can be filled by the other dataframe
- Uses all available columns
- Errors when a row of the two dataframes doesn't match (df1 has 'A' and df2 has 'B' in row)
"""
def merge_tables(df1, df2, index_col):
    # Ensure 'CODE' is set as the index for both DataFrames
    if index_col not in df1.columns or index_col not in df2.columns:
        raise KeyError(f"{index_col} must be a column in both DataFrames.")
    
    df1 = df1.set_index(index_col)
    df2 = df2.set_index(index_col)

    # Identify common and exclusive columns
    common_columns = df1.columns.intersection(df2.columns)
    exclusive_df1 = df1.columns.difference(df2.columns)
    exclusive_df2 = df2.columns.difference(df1.columns)

    # Concatenate exclusive columns from each DataFrame onto the other
    df1_combined = pd.concat([df1, df2[exclusive_df2]], axis=1, sort=False)
    df2_combined = pd.concat([df2, df1[exclusive_df1]], axis=1, sort=False)

    # Resolve common columns with nulls and conflicts
    for col in common_columns:
        # Align the Series from both DataFrames for comparison
        series1, series2 = df1_combined[col].align(df2_combined[col])

        # Check for conflicts (non-null values that do not match)
        conflict_mask = (~series1.isnull() & ~series2.isnull() & (series1 != series2))
        if conflict_mask.any():
            raise ValueError(f"Merge failed due to conflict in column '{col}'")

        # Use values from df2 where df1 is null (prioritizing df1 values)
        df1_combined[col] = series1.combine_first(series2)

    return df1_combined

# Merge duplicate tables into single table
retailer_site = merge_tables(sales_retailer_site, crm_retailer_site, 'RETAILER_SITE_CODE')
# Column name mismatch
sales_country = sales_country.rename(columns={'COUNTRY': 'COUNTRY_EN'})
country = merge_tables(sales_country, crm_country, 'COUNTRY_CODE')

## Utilities

In [37]:
rename_mapping = {
    'ACTIVE_INDICATOR': 'ACTIVE_INDICATOR_bool',
    'ADDRESS1': 'ADDRESS1_address',
    'ADDRESS2': 'ADDRESS2_address',
    'CITY': 'CITY_name',
    'COMPANY_NAME': 'COMPANY_name',
    'COUNTRY_CODE': 'COUNTRY_id',
    'COUNTRY_EN': 'COUNTRY_name',
    'COURSE_CODE': 'COURSE_id',
    'COURSE_DESCRIPTION': 'COURSE_description',
    'COUNTRY_LANGUAGE_code': 'COUNTRY_LANGUAGE_id',
    'CURRENCY_NAME': 'CURRENCY_name',
    'DATE_HIRED': 'DATE_HIRED_date',
    'DESCRIPTION': 'PRODUCT_description',
    'EMAIL': 'EMAIL_address',
    'EXPECTED_VOLUME': 'EXPECTED_VOLUME_number',
    'EXTENSION': 'EXTENSION_number',
    'E_MAIL': 'EMAIL_address',
    'FAX': 'FAX_phone',
    'FIRST_NAME': 'FIRST_NAME_name',
    'FLAG_IMAGE': 'FLAG_image',
    'GENDER': 'GENDER_char',
    'INTRODUCTION_DATE': 'PRODUCT_INTRODUCTION_DATE_date',
    'JOB_POSITION_EN': 'JOB_POSITION_name',
    'LANGUAGE': 'LANGUAGE_name',
    'LAST_NAME': 'LAST_NAME_name',
    'MANAGER_CODE': 'MANAGER_id',
    'MARGIN': 'PRODUCT_MARGIN_percentage',
    'MONTH': 'MONTH_number',
    'ORDER_DATE': 'ORDER_DATE_date',
    'ORDER_DETAIL_CODE': 'ORDER_DETAIL_id',
    'ORDER_METHOD_CODE': 'ORDER_METHOD_id',
    'ORDER_METHOD_EN': 'ORDER_METHOD_name',
    'ORDER_NUMBER': 'ORDER_TABLE_id',
    'PHONE': 'PHONE_phone',
    'POSITION_EN': 'POSITION_name',
    'POSTAL_ZONE': 'POSTAL_ZONE_code',
    'PRODUCTION_COST': 'PRODUCT_PRODUCTION_COST_money',
    'PRODUCT_IMAGE': 'PRODUCT_image',
    'PRODUCT_LINE_CODE': 'PRODUCT_LINE_id',
    'PRODUCT_LINE_EN': 'PRODUCT_LINE_name',
    'PRODUCT_NAME': 'PRODUCT_name',
    'PRODUCT_NUMBER': 'PRODUCT_id',
    'QUANTITY': 'QUANTITY_number',
    'REGION': 'REGION_name',
    'RETAILER_CODE': 'RETAILER_id',
    'RETAILER_CODEMR': 'RETAILER_MR_id',
    'RETAILER_CONTACT_CODE': 'RETAILER_CONTACT_id',
    'RETAILER_NAME': 'RETAILER_name',
    'RETAILER_SITE_CODE': 'RETAILER_SITE_id',
    'RETAILER_TYPE_CODE': 'RETAILER_TYPE_id',
    'RETAILER_TYPE_EN': 'RETAILER_TYPE_name',
    'RETURN_CODE': 'RETURNS_id',
    'RETURN_DATE': 'RETURN_DATE_date',
    'RETURN_DESCRIPTION_EN': 'RETURN_REASON_description',
    'RETURN_QUANTITY': 'RETURN_QUANTITY_number',
    'RETURN_REASON_CODE': 'RETURN_REASON_id',
    'SALES_BRANCH_CODE': 'SALES_BRANCH_id',
    'SALES_STAFF_CODE': 'SALES_STAFF_id',
    'SALES_TERRITORY_CODE': 'SALES_TERRITORY_id',
    'SATISFACTION_TYPE_CODE': 'SATISFACTION_TYPE_id',
    'SATISFACTION_TYPE_DESCRIPTION': 'SATISFACTION_TYPE_description',
    'SEGMENT_CODE': 'SEGMENT_code',
    'SEGMENT_LANGUAGE_code': 'SEGMENT_LANGUAGE_id',
    'TERRITORY_NAME_EN': 'TERRITORY_name',
    'UNIT_COST': 'UNIT_COST_money',
    'UNIT_PRICE': 'UNIT_PRICE_money',
    'UNIT_SALE_PRICE': 'UNIT_SALE_PRICE_money',
    'WORK_PHONE': 'WORK_PHONE_phone',
    'YEAR': 'YEAR_number'
}

# List of all vetted columns
valid_columns = list(rename_mapping.values())

# Filters out all columns of dataframe that aren't typed
def filterColumns(dataframe):
    valid_columns_set = set(valid_columns)
    actual_columns_set = set(dataframe.columns)
    intersection_columns = list(actual_columns_set.intersection(valid_columns_set))

    # Use the intersection result to filter columns from dataframe
    return dataframe[intersection_columns]

# Filters out all columns of dataframe that aren't typed
def excludeColumns(dataframe, column_names):
    return dataframe[dataframe.columns.difference(column_names)]

def sizeCheck(dataframe, expected_column_count):
    actual_column_count = len(dataframe.columns)
    if actual_column_count == expected_column_count:
        print(f'Table has {expected_column_count} columns')
    else:
        raise Exception(f'Table has {actual_column_count} columns, expected {expected_column_count}')


column_types = {
    'name': 'NVARCHAR(80)',
    'image': 'NVARCHAR(60)',
    'id': 'INT',
    'description': 'NTEXT',
    'money': 'DECIMAL(19,4)',
    'percentage': 'DECIMAL(12,12)',
    'date': 'NVARCHAR(30)',
    'code': 'NVARCHAR(40)',
    'char': 'CHAR(1)',
    'number': 'INT',
    'phone': 'NVARCHAR(30)',
    'address': 'NVARCHAR(80)',
    'bool': 'BIT',
}


def getTypes():
    types = {}
    for column in rename_mapping.values():
        column_type = column.rsplit('_', 1)[1]
        types[column_type] = ''
    return types

def columnType(column_name):
    err = ''
    try:
        return column_types[column_name.rsplit('_', 1)[1]]
    except IndexError:
        err = "Column name doesn't contain a type"
    except KeyError:
        err = "Column type not found"
    raise Exception(err)

# def columnValue(column_name):
    
#     if columnType(column_name) in va

def createTable(dataframe, PK):
    # Primary key with the type extension removed
    # Manual labor isn't worth it!
    tablename = PK.rsplit('_', 1)[0]

    # Add Primary Key as first column
    columns = f'{PK} {columnType(PK)} NOT NULL PRIMARY KEY'

    # Add all the other columns
    for column in dataframe.columns:
        if column != PK: # PK is already added
            columns += f', {column} {columnType(column)}'

    # Create the command
    command = f"CREATE TABLE {tablename} ({columns})"

    print(command)

    try:
        cursor.execute(command)
        cursor.commit()
    except pyodbc.Error as e:
        if 'There is already an object named' in str(e):
            print('Table already exists in database')
        else:
            raise(e)

def insertTable(dataframe, PK):
    # Primary key with the type extension removed
    # Manual labor isn't worth it!
    tablename = PK.rsplit('_', 1)[0]

    # Add Primary Key as first column
    columns = PK
    
    # Add all the other columns
    for column in dataframe.columns:
        if column != PK: # PK is already added
            columns += f', {column}'

    
    # Execute inserts
    for i, row in dataframe.iterrows():
        values = ''
        values += str(row[PK])

        for column in dataframe.columns:
            if column != PK: # PK is already added
                try:
                    val = str(row[column]).replace("'","''")
                    values += f", '{val}'"
                except AttributeError:
                    values += f", NULL"

        command = f"INSERT INTO {tablename} ({columns}) VALUES ({values});\n"
        
        try:
            cursor.execute(command)
            cursor.commit()
        except pyodbc.Error as e:
            if 'There is already an object named' in str(e):
                print('Table already exists in database')
            else:
                print(command)
            

column_types

{'name': 'NVARCHAR(80)',
 'image': 'NVARCHAR(60)',
 'id': 'INT',
 'description': 'NTEXT',
 'money': 'DECIMAL(19,4)',
 'percentage': 'DECIMAL(12,12)',
 'date': 'NVARCHAR(30)',
 'code': 'NVARCHAR(40)',
 'char': 'CHAR(1)',
 'number': 'INT',
 'phone': 'NVARCHAR(30)',
 'address': 'NVARCHAR(80)',
 'bool': 'BIT'}

## Product ETL

In [38]:
# Merge
product_etl = pd.merge(product, product_type, on="PRODUCT_TYPE_CODE")
product_etl = pd.merge(product_etl, product_line, on="PRODUCT_LINE_CODE")

# Rename
product_etl = product_etl.rename(columns=rename_mapping)

# Exclude
product_etl = filterColumns(product_etl)

# Assert
sizeCheck(product_etl,10)
product_etl

# Create
createTable(product_etl, 'PRODUCT_id')
insertTable(product_etl, 'PRODUCT_id')

Table has 10 columns
CREATE TABLE PRODUCT (PRODUCT_id INT NOT NULL PRIMARY KEY, LANGUAGE_name NVARCHAR(80), PRODUCT_PRODUCTION_COST_money DECIMAL(19,4), PRODUCT_description NTEXT, PRODUCT_image NVARCHAR(60), PRODUCT_MARGIN_percentage DECIMAL(12,12), PRODUCT_LINE_name NVARCHAR(80), PRODUCT_INTRODUCTION_DATE_date NVARCHAR(30), PRODUCT_name NVARCHAR(80), PRODUCT_LINE_id INT)

## Sales Staff ETL

In [39]:
# Merge
sales_staff_etl = pd.merge(sales_staff, sales_branch, on='SALES_BRANCH_CODE')
sales_staff_etl = pd.merge(sales_staff_etl, country, on='COUNTRY_CODE')
sales_staff_etl = pd.merge(sales_staff_etl, sales_territory, on='SALES_TERRITORY_CODE')

# Rename
sales_staff_etl = sales_staff_etl.rename(columns=rename_mapping)

# Exclude
sales_staff_etl = filterColumns(sales_staff_etl)

# Assert
sizeCheck(sales_staff_etl,23)
sales_staff_etl

# Create
createTable(sales_staff_etl, 'SALES_STAFF_id')
insertTable(sales_staff_etl, 'SALES_STAFF_id')

Table has 23 columns
CREATE TABLE SALES_STAFF (SALES_STAFF_id INT NOT NULL PRIMARY KEY, POSITION_name NVARCHAR(80), FLAG_image NVARCHAR(60), ADDRESS1_address NVARCHAR(80), SALES_BRANCH_id INT, DATE_HIRED_date NVARCHAR(30), SALES_TERRITORY_id INT, EMAIL_address NVARCHAR(80), LAST_NAME_name NVARCHAR(80), MANAGER_id INT, FAX_phone NVARCHAR(30), REGION_name NVARCHAR(80), COUNTRY_id INT, CITY_name NVARCHAR(80), LANGUAGE_name NVARCHAR(80), FIRST_NAME_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), CURRENCY_name NVARCHAR(80), WORK_PHONE_phone NVARCHAR(30), TERRITORY_name NVARCHAR(80), POSTAL_ZONE_code NVARCHAR(40), EXTENSION_number INT, ADDRESS2_address NVARCHAR(80))
INSERT INTO SALES_STAFF (SALES_STAFF_id, POSITION_name, FLAG_image, ADDRESS1_address, SALES_BRANCH_id, DATE_HIRED_date, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, MANAGER_id, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, WORK_PHONE_phone, TERRITORY_name, POSTAL_ZONE_code, EXTENSION_number, ADDRESS2_address) VALUES (20, 'Branch Manager', 'F06', 'Piazza Duomo, 1', '7', '18-Aug-1996 12:00:00 AM', '7', 'MIacobucci@grtd123.com', 'Iacobucci', '18', '+(39) 02 41 20 549', 'None', '6', 'Milano', 'EN', 'Maria', 'Italy', 'lira', '+(39) 02 41 05 400', 'Southern Europe', 'I-20121', 'None', 'None');

INSERT INTO SALES_STAFF (SALES_STAFF_id, POSITION_name, FLAG_image, ADDRESS1_address, SALES_BRANCH_id, DATE_HIRED_date, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, MANAGER_id, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, WORK_PHONE_phone, TERRITORY_name, POSTAL_ZONE_code, EXTENSION_number, ADDRESS2_address) VALUES (21, 'Level 3 Sales Representative', 'F06', 'Piazza Duomo, 1', '7', '13-Feb-1997 12:00:00 AM', '7', 'ATorta@grtd123.com', 'Torta', '20', '+(39) 02 79 53 477', 'None', '6', 'Milano', 'EN', 'Alessandra', 'Italy', 'lira', '+(39) 02 79 53 780', 'Southern Europe', 'I-20121', 'None', 'None');

## Satisfaction type ETL

In [40]:
# Rename
satisfaction_type_etl = satisfaction_type.rename(columns=rename_mapping)

# Exclude
satisfaction_type_etl = filterColumns(satisfaction_type_etl)

# Assert
sizeCheck(satisfaction_type_etl,2)
satisfaction_type_etl

# Create
createTable(satisfaction_type_etl, 'SATISFACTION_TYPE_id')
insertTable(satisfaction_type_etl, 'SATISFACTION_TYPE_id')

Table has 2 columns
CREATE TABLE SATISFACTION_TYPE (SATISFACTION_TYPE_id INT NOT NULL PRIMARY KEY, SATISFACTION_TYPE_description NTEXT)

## Course ETL

In [41]:
# Rename
course_etl = course.rename(columns=rename_mapping)

# Exclude
course_etl = filterColumns(course_etl)

# Assert
sizeCheck(course_etl,2)
course_etl

# Create
createTable(course_etl, 'COURSE_id')
insertTable(course_etl, 'COURSE_id')

Table has 2 columns
CREATE TABLE COURSE (COURSE_id INT NOT NULL PRIMARY KEY, COURSE_description NTEXT)

## Sales Forecast ETL

In [42]:
# Rename
sales_forecast_etl = sales_forecast.rename(columns=rename_mapping)

# Exclude
sales_forecast_etl = filterColumns(sales_forecast_etl)

# Assert
sizeCheck(sales_forecast_etl,4)
sales_forecast_etl

# Create
createTable(sales_forecast_etl, 'PRODUCT_id')
insertTable(sales_forecast_etl, 'PRODUCT_id')

Table has 4 columns
CREATE TABLE PRODUCT (PRODUCT_id INT NOT NULL PRIMARY KEY, MONTH_number INT, YEAR_number INT, EXPECTED_VOLUME_number INT)
Table already exists in database
INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (44, '12', '2022', '383');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '1', '2021', '80');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '2', '2021', '51');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '3', '2021', '214');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '4', '2021', '300');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '5', '2021', '141');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '6', '2021', '210');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '7', '2021', '133');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '8', '2021', '223');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '9', '2021', '98');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '10', '2021', '211');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '11', '2021', '53');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '12', '2021', '90');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '1', '2022', '71');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '2', '2022', '72');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '3', '2022', '234');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '4', '2022', '184');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '5', '2022', '116');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '6', '2022', '204');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '7', '2022', '113');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '8', '2022', '122');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '9', '2022', '166');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '10', '2022', '368');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '11', '2022', '38');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (45, '12', '2022', '218');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '1', '2021', '76');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '2', '2021', '34');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '3', '2021', '158');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '4', '2021', '224');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '5', '2021', '275');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '6', '2021', '159');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '7', '2021', '72');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '8', '2021', '105');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '9', '2021', '124');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '10', '2021', '249');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '11', '2021', '35');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '12', '2021', '84');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '1', '2022', '19');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '2', '2022', '62');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '3', '2022', '127');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '4', '2022', '107');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '5', '2022', '192');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '6', '2022', '205');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '7', '2022', '52');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '8', '2022', '128');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '9', '2022', '235');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '10', '2022', '380');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '11', '2022', '154');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (46, '12', '2022', '218');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '1', '2021', '102');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '2', '2021', '130');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '3', '2021', '389');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '4', '2021', '841');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '5', '2021', '444');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '6', '2021', '664');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '7', '2021', '429');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '8', '2021', '282');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '9', '2021', '286');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '10', '2021', '781');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '11', '2021', '118');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '12', '2021', '468');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '1', '2022', '200');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '2', '2022', '119');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '3', '2022', '402');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '4', '2022', '730');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '5', '2022', '349');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '6', '2022', '698');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '7', '2022', '378');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '8', '2022', '418');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '9', '2022', '611');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '10', '2022', '1199');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '11', '2022', '408');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (47, '12', '2022', '240');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '1', '2021', '62');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '2', '2021', '36');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '3', '2021', '187');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '4', '2021', '128');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '5', '2021', '79');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '6', '2021', '93');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '7', '2021', '182');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '8', '2021', '57');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '9', '2021', '278');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '10', '2021', '459');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '11', '2021', '181');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '12', '2021', '91');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '1', '2022', '78');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '2', '2022', '117');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '3', '2022', '259');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '4', '2022', '264');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '5', '2022', '193');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '6', '2022', '179');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '7', '2022', '194');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '8', '2022', '196');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '9', '2022', '174');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '10', '2022', '428');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '11', '2022', '88');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (48, '12', '2022', '76');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '1', '2021', '35');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '2', '2021', '10');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '3', '2021', '55');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '4', '2021', '244');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '5', '2021', '100');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '6', '2021', '110');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '7', '2021', '90');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '8', '2021', '89');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '9', '2021', '90');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '10', '2021', '205');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '11', '2021', '97');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '12', '2021', '35');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '1', '2022', '50');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '2', '2022', '21');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '3', '2022', '111');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '4', '2022', '59');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '5', '2022', '135');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '6', '2022', '126');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '7', '2022', '61');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '8', '2022', '104');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '9', '2022', '121');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '10', '2022', '178');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '11', '2022', '58');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (49, '12', '2022', '79');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '1', '2021', '1001');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '2', '2021', '201');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '3', '2021', '1778');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '4', '2021', '3060');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '5', '2021', '1459');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '6', '2021', '2239');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '7', '2021', '1453');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '8', '2021', '1390');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '9', '2021', '2300');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '10', '2021', '2468');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '11', '2021', '487');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '12', '2021', '998');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '1', '2022', '781');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '2', '2022', '304');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '3', '2022', '1423');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '4', '2022', '1834');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '5', '2022', '1832');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '6', '2022', '2374');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '7', '2022', '2943');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '8', '2022', '1253');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '9', '2022', '1440');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '10', '2022', '5024');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '11', '2022', '1762');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (50, '12', '2022', '677');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '1', '2021', '452');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '2', '2021', '157');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '3', '2021', '608');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '4', '2021', '898');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '5', '2021', '689');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '6', '2021', '1424');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '7', '2021', '474');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '8', '2021', '522');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '9', '2021', '612');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '10', '2021', '1966');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '11', '2021', '247');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '12', '2021', '543');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '1', '2022', '559');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '2', '2022', '266');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '3', '2022', '1133');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '4', '2022', '1003');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '5', '2022', '679');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '6', '2022', '1453');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '7', '2022', '293');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '8', '2022', '715');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '9', '2022', '959');

INSERT INTO PRODUCT (PRODUCT_id, MONTH_number, YEAR_number, EXPECTED_VOLUME_number) VALUES (51, '10', '2022', '1991');


## Retailer Contact ETL

In [43]:
# Merge
retailer_contact_etl = pd.merge(retailer_contact, retailer_site, on='RETAILER_SITE_CODE')
retailer_contact_etl = pd.merge(retailer_contact_etl, country, on='COUNTRY_CODE')
retailer_contact_etl = pd.merge(retailer_contact_etl, sales_territory, on='SALES_TERRITORY_CODE')\
    
# Rename 
retailer_contact_etl = retailer_contact_etl.rename(columns=rename_mapping)

# Exclude
retailer_contact_etl = filterColumns(retailer_contact_etl)

# Assert
sizeCheck(retailer_contact_etl,23)
retailer_contact_etl

# Create
createTable(retailer_contact_etl, 'RETAILER_CONTACT_id')
insertTable(retailer_contact_etl, 'RETAILER_CONTACT_id')

Table has 23 columns
CREATE TABLE RETAILER_CONTACT (RETAILER_CONTACT_id INT NOT NULL PRIMARY KEY, RETAILER_id INT, JOB_POSITION_name NVARCHAR(80), FLAG_image NVARCHAR(60), ADDRESS1_address NVARCHAR(80), SALES_TERRITORY_id INT, EMAIL_address NVARCHAR(80), LAST_NAME_name NVARCHAR(80), GENDER_char CHAR(1), FAX_phone NVARCHAR(30), REGION_name NVARCHAR(80), COUNTRY_id INT, CITY_name NVARCHAR(80), LANGUAGE_name NVARCHAR(80), FIRST_NAME_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), CURRENCY_name NVARCHAR(80), TERRITORY_name NVARCHAR(80), POSTAL_ZONE_code NVARCHAR(40), ACTIVE_INDICATOR_bool BIT, EXTENSION_number INT, ADDRESS2_address NVARCHAR(80), RETAILER_SITE_id INT)
INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (100, '104', 'Stock Manager', 'F03', '738 Stoney Road', '1', 'Y2883@emertxe.com', 'Yates', 'F', '1 (702) 369-2274', 'Nevada', '3', 'Las Vegas', 'EN', 'Amanda', 'United States', 'dollars', 'Americas', '89118', '1', 'None', 'None', '85');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (101, '104', 'Assistant Purchaser', 'F03', '7543 South Carson Street', '1', 'S8832@emertxe.com', 'Schmidt', 'F', '1 (702) 882-0978', 'Nevada', '3', 'Carson City', 'EN', 'Paula', 'United States', 'dollars', 'Americas', '89763', '1', 'None', 'None', '84');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (103, '105', 'District Manager', 'F03', '1809 Tusalane Avenue', '1', 'Murphy@eyedimensions3.com', 'Murphy', 'M', '1 (305) 557-5478', 'Florida', '3', 'Miami', 'EN', 'Jack', 'United States', 'dollars', 'Americas', '33021', '0', 'None', 'None', '92');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (105, '105', 'Site Manager', 'F03', '832 Vensa Crescent', '1', 'Claydon@eyedimensions3.com', 'Claydon', 'M', '1 (972) 247-4871', 'Texas', '3', 'Dallas', 'EN', 'Glen', 'United States', 'dollars', 'Americas', '75293', '1', 'None', 'None', '94');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (106, '106', 'Stock Manager', 'F03', '3410 Selson Avenue', '1', 'Buhlman@donovansshops.net', 'Buhlman', 'F', '1 (619) 223-6548', 'California', '3', 'San Diego', 'EN', 'Helena', 'United States', 'dollars', 'Americas', '92132', '1', 'None', 'None', '97');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (107, '106', 'Chief Purchaser', 'F03', '37 Raleigh Avenue', '1', 'Lindacker@donovansshops.net', 'Lindacker', 'M', '1 (415) 759-1367', 'California', '3', 'San Francisco', 'EN', 'Philip', 'United States', 'dollars', 'Americas', '94129', '1', 'None', 'None', '99');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (110, '106', 'District Manager', 'F03', '932 Ohmey Avenue', '1', 'Ricci@donovansshops.net', 'Ricci', 'M', '1 (213) 747-4456', 'California', '3', 'Los Angeles', 'EN', 'Peter', 'United States', 'dollars', 'Americas', '90211', '1', 'None', 'None', '95');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (111, '95', 'District Manager', 'F03', '4830 Princeton', '1', 'Fitzpatrick@f76.net', 'Fitzpatrick', 'M', '1 (505) 881-5789', 'New Mexico', '3', 'Albuquerque', 'EN', 'Philip', 'United States', 'dollars', 'Americas', '87186', '1', 'None', 'Unit 2', '100');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (113, '108', 'District Manager', 'F03', '2189 Louisville Road', '1', 'Purchasing@trailmasterz80.net', 'Jones', 'M', '1 (606) 244-2691', 'Kentucky', '3', 'Independence', 'EN', 'Kenneth', 'United States', 'dollars', 'Americas', '41051', '0', 'None', 'None', '102');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (115, '109', 'District Manager', 'F03', '1700 George Street', '1', 'AngelaP@zxyznet.net', 'Pathak', 'F', '1 (415) 642-8746', 'California', '3', 'San Francisco', 'EN', 'Angela', 'United States', 'dollars', 'Americas', '94127', '1', 'None', 'Suite 1B', '103');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (116, '109', 'Stock Manager', 'F03', '283 Mondela Street', '1', 'ArtF@zxyznet.net', 'Fogarty', 'M', '1 (972) 247-5888', 'Texas', '3', 'Dallas', 'EN', 'Arthur', 'United States', 'dollars', 'Americas', '75287', '1', 'None', 'None', '107');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (117, '109', 'Site Manager', 'F03', '2893 South 700 West', '1', 'TomR@zxyznet.net', 'Randell', 'M', '1 (801) 978-4309', 'Utah', '3', 'Salt Lake City', 'EN', 'Tom', 'United States', 'dollars', 'Americas', '84146', '1', 'None', 'None', '108');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (119, '109', 'Chief Purchaser', 'F03', '3728 Lester Avenue', '1', 'MarkD@zxyznet.net', 'Digiannato', 'M', '1 (212) 765-1915', 'New York', '3', 'New York', 'EN', 'Mark', 'United States', 'dollars', 'Americas', '10041', '1', 'None', 'None', '106');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (121, '110', 'Site Manager', 'F03', '266 S. Christopher Road', '1', 'SK@ghni7.com', 'Kosawski', 'F', '1 (919) 968-3431', 'North Carolina', '3', 'Chapel Hill', 'EN', 'Stephanie', 'United States', 'dollars', 'Americas', '27533', '1', 'None', 'None', '109');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (122, '111', 'Assistant Purchaser', 'F03', '172 N. Cave Creek Road', '1', 'Fbradley@bve7.net', 'Bradley', 'F', '1 (602) 788-6672', 'Arizona', '3', 'Phoenix', 'EN', 'Fraser', 'United States', 'dollars', 'Americas', '85052', '1', 'None', 'None', '111');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (123, '111', 'Assistant Purchaser', 'F03', '518 Colombe Street', '1', 'Sporter@bve7.net', 'Porter', 'F', '1 (415) 642-5448', 'California', '3', 'San Francisco', 'EN', 'Sharon', 'United States', 'dollars', 'Americas', '94133', '1', 'None', 'None', '112');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (125, '113', 'Assistant Purchaser', 'F03', '272 Main Street', '1', 'Turner@edsstore.com', 'Turner', 'F', '1 (802) 229-9098', 'Vermont', '3', 'Montpelier', 'EN', 'Amy', 'United States', 'dollars', 'Americas', '05611', '1', 'None', 'None', '115');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (127, '113', 'Assistant Purchaser', 'F03', '3278 Crest Avenue', '1', 'Ayling@edsstore.com', 'Ayling', 'F', '1 (713) 524-8785', 'Texas', '3', 'Houston', 'EN', 'Melanie', 'United States', 'dollars', 'Americas', '77009', '1', 'None', 'None', '114');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (128, '113', 'Chief Purchaser', 'F03', '433 West Broadway', '1', 'Huang@edsstore.com', 'Huang', 'M', '1 (608) 223-5803', 'Wisconsin', '3', 'Madison', 'EN', 'David', 'United States', 'dollars', 'Americas', '53722', '1', 'None', 'None', '118');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (129, '113', 'Chief Purchaser', 'F03', '4881 East Second Street', '1', 'Walker@edsstore.com', 'Walker', 'F', '1 (307) 234-5631', 'Wyoming', '3', 'Casper', 'EN', 'Cynthia', 'United States', 'dollars', 'Americas', '82645', '1', 'None', 'None', '119');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (13, '97', 'District Manager', 'F04', '87, 2399 Somerset Avenue', '1', 'ELeblanc@actup9.com', 'Leblanc', 'F', '1 (416) 496-5066', 'Ontario', '4', 'Toronto', 'EN', 'Elise', 'Canada', 'dollars', 'Americas', 'M2P 4F6', '1', 'None', 'None', '27');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (130, '113', 'District Manager', 'F03', '938 Jasmine Crescent', '1', 'Bolas@edsstore.com', 'Bolas', 'M', '1 (804) 226-5462', 'Virginia', '3', 'Richmond', 'EN', 'Matthew', 'United States', 'dollars', 'Americas', '23234', '1', 'None', 'None', '116');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (132, '114', 'Site Manager', 'F03', '2015 Charles Drive', '1', 'Barb@marakis.com', 'Reese', 'F', '1 (302) 736-3751', 'Delaware', '3', 'Dover', 'EN', 'Barbara', 'United States', 'dollars', 'Americas', '19935', '0', 'None', 'None', '120');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (133, '114', 'Assistant Purchaser', 'F03', '235 Salter Street', '1', 'Nick@marakis.com', 'Patterson', 'M', '1 (305) 557-1325', 'Florida', '3', 'Miami', 'EN', 'Nicholas', 'United States', 'dollars', 'Americas', '33025', '1', 'None', 'None', '122');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (134, '114', 'Assistant Purchaser', 'F03', '6392 Lakewood Avenue', '1', 'Rachel@marakis.com', 'Foth', 'F', '1 (404) 766-4392', 'Georgia', '3', 'Atlanta', 'EN', 'Rachel', 'United States', 'dollars', 'Americas', '30371', '1', 'None', 'None', '123');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (136, '115', 'Site Manager', 'F03', '2103 Ashbury Street', '1', 'Collins@cc87.com', 'Collins', 'M', '1 (310) 281-5400', 'California', '3', 'Los Angeles', 'EN', 'Henry', 'United States', 'dollars', 'Americas', '90060', '1', 'None', 'P.O. Box 2167', '124');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (138, '115', 'Assistant Purchaser', 'F03', '333 Ustaff Way', '1', 'Harvey@cc87.com', 'Harvey', 'F', '1 (619) 223-3165', 'California', '3', 'San Diego', 'EN', 'Karen', 'United States', 'dollars', 'Americas', '92120', '1', 'None', 'Suite 67', '125');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (139, '115', 'Assistant Purchaser', 'F03', '3411 Champlain Street, NW', '1', 'Richter@cc87.com', 'Richter', 'M', '1 (202) 265-0543', 'DC', '3', 'Washington', 'EN', 'Thomas', 'United States', 'dollars', 'Americas', '20032', '1', 'None', 'Suite 110', '127');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (140, '115', 'Stock Manager', 'F03', '76 Young Avenue', '1', 'Latella@cc87.com', 'Latella', 'M', '1 (303) 808-2992', 'Colorado', '3', 'Denver', 'EN', 'David', 'United States', 'dollars', 'Americas', '80287', '1', 'None', 'None', '126');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (142, '116', 'District Manager', 'F03', '5890 McCoy Drive', '1', 'Kearney@connorstores.com', 'Kearney', 'M', '1 (601) 957-4990', 'Mississippi', '3', 'Jackson', 'EN', 'Matthew', 'United States', 'dollars', 'Americas', '39286', '1', 'None', 'None', '133');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (144, '116', 'Site Manager', 'F03', '937 Hilson Crescent', '1', 'Flores@connorstores.com', 'Flores', 'F', '1 (617) 268-3091', 'Massachusetts', '3', 'Boston', 'EN', 'Monica', 'United States', 'dollars', 'Americas', '02141', '1', 'None', 'Suite 2-4', '131');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (146, '117', 'District Manager', 'F03', '231 Linson Street', '1', 'jd@byathread3.com', 'Duggan', 'F', '1 (303) 449-7887', 'Colorado', '3', 'Boulder', 'EN', 'Janet', 'United States', 'dollars', 'Americas', '80341', '1', 'None', 'None', '135');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (147, '117', 'District Manager', 'F03', '357 Trent Road', '1', 'jb@byathread3.com', 'Braith', 'M', '1 (801) 978-5412', 'Utah', '3', 'Salt Lake City', 'EN', 'Jonathon', 'United States', 'dollars', 'Americas', '84147', '1', 'None', 'None', '137');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (148, '117', 'Assistant Purchaser', 'F03', '832 Rourson Avenue', '1', 'wa@byathread3.com', 'Anderson', 'M', '1 (303) 808-5403', 'Colorado', '3', 'Denver', 'EN', 'Wayne', 'United States', 'dollars', 'Americas', '80289', '1', 'None', 'None', '136');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (149, '118', 'District Manager', 'F03', '1201 N. State College Blvd.', '1', 'Karia@hmincnet.com', 'Karia', 'F', '1 (714) 563-6783', 'California', '3', 'Anaheim', 'EN', 'Angelina', 'United States', 'dollars', 'Americas', '92815', '0', 'None', 'None', '141');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (15, '97', 'District Manager', 'F04', 'Suite 1000, 56 King Street', '1', 'GLamoureux@actup9.com', 'Lamoureux', 'M', '1 (416) 496-7756', 'Ontario', '4', 'Toronto', 'EN', 'Guy', 'Canada', 'dollars', 'Americas', 'M2M 6J7', '1', 'None', 'None', '29');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (150, '118', 'Assistant Purchaser', 'F03', '3866 Point Circle', '1', 'Palmer@hmincnet.com', 'Palmer', 'M', '1 (501) 821-7731', 'Arkansas', '3', 'Little Rock', 'EN', 'Clarence', 'United States', 'dollars', 'Americas', '72287', '1', 'None', 'None', '140');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (152, '118', 'District Manager', 'F03', '7773 Green Park Road', '1', 'Weston@hmincnet.com', 'Weston', 'F', '1 (520) 575-6458', 'Arizona', '3', 'Tucson', 'EN', 'Ingrid', 'United States', 'dollars', 'Americas', '85713', '1', 'None', 'None', '139');

INSERT INTO RETAILER_CONTACT (RETAILER_CONTACT_id, RETAILER_id, JOB_POSITION_name, FLAG_image, ADDRESS1_address, SALES_TERRITORY_id, EMAIL_address, LAST_NAME_name, GENDER_char, FAX_phone, REGION_name, COUNTRY_id, CITY_name, LANGUAGE_name, FIRST_NAME_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, POSTAL_ZONE_code, ACTIVE_INDICATOR_bool, EXTENSION_number, ADDRESS2_address, RETAILER_SITE_id) VALUES (153, '118', 'Site Manager', 'F03', '832 Mill Avenue', '1', 'Huang@hmincnet.com', 'Huang', 'F', '1 (602) 788-4556', 'Arizona', '3', 'Phoenix', 'EN', 'Diane', 'United States', 'dollars', 'Americas', '85055', '1', 'None', 'Unit 17', '138');


## Retailer ETL

In [44]:
# Merge
retailer_etl = pd.merge(retailer, retailer_headquarters, on='RETAILER_CODEMR')
retailer_etl = pd.merge(retailer_etl, retailer_type, on='RETAILER_TYPE_CODE')

# Merge and rename language columns for clarity
retailer_etl = pd.merge(retailer_etl, retailer_segment, on='SEGMENT_CODE').rename(columns={'LANGUAGE':'SEGMENT_LANGUAGE_code'})
retailer_etl = pd.merge(retailer_etl, country, on='COUNTRY_CODE').rename(columns={'LANGUAGE':'COUNTRY_LANGUAGE_code'})

# Exclude columns early due to merge naming conflicts
retailer_etl = excludeColumns(retailer_etl, ['TRIAL219','TRIAL222_x','TRIAL222_y','TRIAL222'])

# Rename
retailer_etl = pd.merge(retailer_etl, sales_territory, on='SALES_TERRITORY_CODE')\
    .rename(columns=rename_mapping)

# Exclude
retailer_etl = filterColumns(retailer_etl)

# Assert
sizeCheck(retailer_etl,22)
retailer_etl

# Create
createTable(retailer_etl, 'RETAILER_id')
insertTable(retailer_etl, 'RETAILER_id')

Table has 22 columns
CREATE TABLE RETAILER (RETAILER_id INT NOT NULL PRIMARY KEY, PHONE_phone NVARCHAR(30), FLAG_image NVARCHAR(60), ADDRESS1_address NVARCHAR(80), RETAILER_MR_id INT, SALES_TERRITORY_id INT, RETAILER_TYPE_name NVARCHAR(80), SEGMENT_code NVARCHAR(40), FAX_phone NVARCHAR(30), REGION_name NVARCHAR(80), COUNTRY_LANGUAGE_id INT, COUNTRY_id INT, SEGMENT_LANGUAGE_id INT, CITY_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), CURRENCY_name NVARCHAR(80), TERRITORY_name NVARCHAR(80), COMPANY_name NVARCHAR(80), RETAILER_name NVARCHAR(80), POSTAL_ZONE_code NVARCHAR(40), RETAILER_TYPE_id INT, ADDRESS2_address NVARCHAR(80))

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (100, '1 (402) 475-4317', 'F03', '2845 South Second Street', '70', '1', 'Golf Shop', '3', '1 (402) 475-4717', 'Nebraska', 'EN', '3', 'EN', 'Lincoln', 'United States', 'dollars', 'Americas', 'Golf Masters', 'Golf Masters', '68538', '1', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (101, '1 (212) 477-7132', 'F03', '1902 Lancaster Street', '71', '1', 'Department Store', '5', '1 (212) 477-9716', 'New York', 'EN', '3', 'EN', 'New York', 'United States', 'dollars', 'Americas', 'The Marketplace', 'The Marketplace', '10039', '2', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (102, '1 (603) 448-9004', 'F03', '332 South Main Street', '72', '1', 'Direct Marketing', '7', '1 (603) 448-6412', 'New Hampshire', 'EN', '3', 'EN', 'Hanover', 'United States', 'dollars', 'Americas', 'Camping Equipment Online', 'Camping Equipment Online', '03761', '3', 'P.O. Box 224');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (103, '1 (503) 285-0954', 'F03', '582 NE Tomahawk Island Drive', '73', '1', 'Equipment Rental Store', '9', '1 (503) 285-0894', 'Oregon', 'EN', '3', 'EN', 'Portland', 'United States', 'dollars', 'Americas', 'Tamarack Outfitter Rentals', 'Tamarack Outfitter Rentals', '97295', '5', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (104, '1 (713) 524-1301', 'F03', '83 Nirson Road', '74', '1', 'Outdoors Shop', '2', '1 (713) 524-3215', 'Texas', 'EN', '3', 'EN', 'Houston', 'United States', 'dollars', 'Americas', 'Extreme Outdoors', 'Extreme Outdoors', '77112', '6', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (105, '1 (972) 247-5498', 'F03', '832 Vensa Crescent', '75', '1', 'Eyewear Store', '10', '1 (972) 247-4871', 'Texas', 'EN', '3', 'EN', 'Dallas', 'United States', 'dollars', 'Americas', 'Eye Dimensions', 'Eye Dimensions', '75293', '7', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (106, '1 (213) 747-1278', 'F03', '932 Ohmey Avenue', '76', '1', 'Sports Store', '12', '1 (213) 747-4456', 'California', 'EN', '3', 'EN', 'Los Angeles', 'United States', 'dollars', 'Americas', 'Donovan''s Sports', 'Donovan''s Sports', '90211', '8', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (108, '1 (502) 223-6801', 'F03', '2189 Louisville Road', '78', '1', 'Outdoors Shop', '2', '1 (502) 223-5391', 'Kentucky', 'EN', '3', 'EN', 'Frankfurt', 'United States', 'dollars', 'Americas', 'Trail Masters', 'Trail Masters', '40687', '6', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (109, '1 (972) 247-4508', 'F03', '283 Mondela Street', '79', '1', 'Sports Store', '12', '1 (972) 247-5888', 'Texas', 'EN', '3', 'EN', 'Dallas', 'United States', 'dollars', 'Americas', 'Second Wind Sports', 'Second Wind Sports', '75287', '8', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (110, '1 (803) 571-9906', 'F03', '1488 Orleans Road', '80', '1', 'Golf Shop', '3', '1 (803) 571-7802', 'South Carolina', 'EN', '3', 'EN', 'Charleston', 'United States', 'dollars', 'Americas', 'The Golf Hut', 'The Golf Hut', '29414', '1', 'P.O. Box 1128');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (111, '1 (602) 788-6812', 'F03', '172 N. Cave Creek Road', '81', '1', 'Eyewear Store', '10', '1 (602) 788-6694', 'Arizona', 'EN', '3', 'EN', 'Phoenix', 'United States', 'dollars', 'Americas', 'Buena Vista Eyeware', 'Buena Vista Eyeware', '85052', '7', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (113, '1 (206) 292-3015', 'F03', '325 Wayside Street', '82', '1', 'Department Store', '5', '1 (206) 292-5489', 'Washington', 'EN', '3', 'EN', 'Seattle', 'United States', 'dollars', 'Americas', 'Edward''s Department Store', 'Edward''s Department Store', '98140', '2', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (115, '1 (619) 223-6615', 'F03', '333 Ustaff Way', '83', '1', 'Warehouse Store', '8', '1 (619) 223-3165', 'California', 'EN', '3', 'EN', 'San Diego', 'United States', 'dollars', 'Americas', 'Consumer Club', 'Consumer Club', '92120', '4', 'Suite 67');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (116, '1 (617) 268-7629', 'F03', '937 Hilson Crescent', '84', '1', 'Department Store', '5', '1 (617) 268-3091', 'Massachusetts', 'EN', '3', 'EN', 'Boston', 'United States', 'dollars', 'Americas', 'Connor Department Store', 'Connor Department Store', '02141', '2', 'Suite 2-4');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (117, '1 (303) 449-6582', 'F03', '231 Linson Street', '85', '1', 'Outdoors Shop', '2', '1 (303) 449-7818', 'Colorado', 'EN', '3', 'EN', 'Boulder', 'United States', 'dollars', 'Americas', 'By A Thread', 'By A Thread', '80341', '6', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (118, '1 (501) 821-8518', 'F03', '3866 Point Circle', '86', '1', 'Department Store', '5', '1 (501) 821-7731', 'Arkansas', 'EN', '3', 'EN', 'Little Rock', 'United States', 'dollars', 'Americas', 'Hartman''s', 'Hartman''s', '72287', '2', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (119, '1 (218) 722-8502', 'F03', '1655 East Superior Street', '87', '1', 'Warehouse Store', '8', '1 (218) 722-4311', 'Minnesota', 'EN', '3', 'EN', 'Duluth', 'United States', 'dollars', 'Americas', 'Mega-Outlet', 'Mega-Outlet', '55810', '4', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (121, '1 (808) 737-3899', 'F03', '1529 Kapahula Avenue', '88', '1', 'Golf Shop', '3', '1 (808) 737-0961', 'Hawaii', 'EN', '3', 'EN', 'Honolulu', 'United States', 'dollars', 'Americas', 'The Caddy''s Corner', 'The Caddy''s Corner', '96857', '1', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (123, '1 (319) 390-2288', 'F03', '1290 21st Ave. SW', '89', '1', 'Department Store', '5', '1 (319) 390-5310', 'Iowa', 'EN', '3', 'EN', 'Cedar Rapids', 'United States', 'dollars', 'Americas', 'American Home', 'American Home', '52421', '2', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (124, '1 (619) 223-1235', 'F03', '738 Greyling Street', '90', '1', 'Outdoors Shop', '2', '1 (619) 223-1245', 'California', 'EN', '3', 'EN', 'San Diego', 'United States', 'dollars', 'Americas', 'Weston Outfitters', 'Weston Outfitters', '92129', '6', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (125, '+33 4 42 17 57 57', 'F01', '67, avenue Daumesnil', '233', '6', 'Sports Store', '11', '+33 4 42 17 83 65', 'None', 'EN', '1', 'EN', 'Marseille', 'France', 'francs', 'Central Europe', 'La bonne Forme', 'La bonne Forme', 'F-13023', '8', 'Bote postale 16');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (126, '+(525) 684 7127', 'F19', 'Avda. Chapultepec 246-303', '91', '1', 'Outdoors Shop', '2', '+(525) 684 7119', 'Mxico', 'EN', '20', 'EN', 'Distrito Federal', 'Mexico', 'pesos', 'Americas', 'Artculos de Campismo El Aquila, S.A. de C.V.', 'Artculos de Campismo El Aquila, S.A. de C.V.', '06700', '6', 'Virreyes');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (127, '+(528) 366 6773', 'F19', 'Francisco Mungua No. 45', '92', '1', 'Golf Shop', '3', '+(528) 366 6717', 'Nuevo Len', 'EN', '20', 'EN', 'Monterey', 'Mexico', 'pesos', 'Americas', 'Todo para el Golf, S.A. de C.V.', 'Todo para el Golf, S.A. de C.V.', '30530', '1', 'Atahualpa');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (128, '+(525) 645 9288', 'F19', 'Ro Rhin 56, Piso 6', '93', '1', 'Department Store', '5', '+(525) 645 9200', 'Mxico', 'EN', '20', 'EN', 'Distrito Federal', 'Mexico', 'pesos', 'Americas', 'MER-KA-DOS, S.A. de C.V.', 'MER-KA-DOS, S.A. de C.V.', '06500', '2', 'Cuauhtemoc');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (129, '81-92-985-2333', 'F11', '232-87-515 Zundabashi', '235', '4', 'Golf Shop', '3', '81-92-985-2334', 'Miyagi', 'EN', '11', 'EN', 'Sendai City', 'Japan', 'yen', 'Asia Pacific', 'Golf Shop Jiro', 'Golf Shop Jiro', '379-2548', '1', 'Miyagino-ku');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (130, '81-3-5547-6209', 'F11', '1-1-1 Hamakubo', '236', '4', 'Sports Store', '12', '81-3-5547-6210', 'Tokyo', 'EN', '11', 'EN', 'Shibuya-ku', 'Japan', 'yen', 'Asia Pacific', 'Japan Sports Youhinten', 'Japan Sports Youhinten', '530-9125', '8', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (131, '81-3-1888-7144', 'F11', '23-1-9 Jingukoen Mae', '237', '4', 'Eyewear Store', '10', '81-3-1888-7145', 'Tokyo', 'EN', '11', 'EN', 'Koto-ku', 'Japan', 'yen', 'Asia Pacific', 'Hinode Megane', 'Hinode Megane', '259-3047', '7', 'None');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (132, '81-92-211-6511', 'F11', '78-98-390 Tenno', '238', '4', 'Golf Shop', '3', '81-92-211-6512', 'Fukuoka', 'EN', '11', 'EN', 'Fukuoka City', 'Japan', 'yen', 'Asia Pacific', 'Hanagata Golf Shop', 'Hanagata Golf Shop', '211-6511', '1', 'Naka-ku');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (134, '81-6-439-0001', 'F11', '11-33-11 Hita', '239', '4', 'Sports Store', '11', '81-6-439-0002', 'Osaka', 'EN', '11', 'EN', 'Osaka City', 'Japan', 'yen', 'Asia Pacific', 'Kanjosen Sport', 'Kanjosen Sport', '471-2314', '8', 'Hita-ku');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (136, '81-82-111-3265', 'F11', '346-126 Nishikamakuracho', '240', '4', 'Direct Marketing', '7', '81-82-111-3266', 'Hiroshima', 'EN', '11', 'EN', 'Hiroshima City', 'Japan', 'yen', 'Asia Pacific', 'NIPPON Sofcon Net', 'NIPPON Sofcon Net', '748-2156', '3', 'Nakano-ku');

INSERT INTO RETAILER (RETAILER_id, PHONE_phone, FLAG_image, ADDRESS1_address, RETAILER_MR_id, SALES_TERRITORY_id, RETAILER_TYPE_name, SEGMENT_code, FAX_phone, REGION_name, COUNTRY_LANGUAGE_id, COUNTRY_id, SEGMENT_LANGUAGE_id, CITY_name, COUNTRY_name, CURRENCY_name, TERRITORY_name, COMPANY_name, RETAILER_name, POSTAL_ZONE_code, RETAILER_TYPE_id, ADDRESS2_address) VALUES (137, '+(46) 120 856 779', 'F10', 'Eliassons vg 3', '625', '5', 'Outdoors Shop', '2', '+(46) 120 856 700', 'None', 'EN', '10', 'EN', 'tvidaberg', 'Sweden', 'krona', 'Northern Europe', 'Campingspecialisten', 'Campingspecialisten', 'S-887 54', '6', 'None');


## Order ETL

In [45]:
# Merge
order_etl = pd.merge(order_header, order_method, on='ORDER_METHOD_CODE').rename(columns=rename_mapping)

# Exclude redundant foreign key columns
# RETAILER_SITE_code can be derived from RETAILER_CONTACT_id
# SALES_BRANCH_code can be derived from SALES_STAFF_id
order_etl = excludeColumns(order_etl, ['RETAILER_SITE_id', 'SALES_BRANCH_id'])

# Exclude
order_etl = filterColumns(order_etl)

# Assert
sizeCheck(order_etl,7)
order_etl

# Create
createTable(order_etl, 'ORDER_TABLE_id')
insertTable(order_etl, 'ORDER_TABLE_id')

Table has 7 columns
CREATE TABLE ORDER_TABLE (ORDER_TABLE_id INT NOT NULL PRIMARY KEY, ORDER_DATE_date NVARCHAR(30), RETAILER_name NVARCHAR(80), ORDER_METHOD_name NVARCHAR(80), ORDER_METHOD_id INT, RETAILER_CONTACT_id INT, SALES_STAFF_id INT)

## Return reason ETL

In [46]:
# Rename
return_reason_etl = return_reason.rename(columns=rename_mapping)

# Exclude
return_reason_etl = filterColumns(return_reason_etl)

# Assert
sizeCheck(return_reason_etl,2)
return_reason_etl

# Create
createTable(return_reason_etl, 'RETURN_REASON_id')
insertTable(return_reason_etl, 'RETURN_REASON_id')

Table has 2 columns
CREATE TABLE RETURN_REASON (RETURN_REASON_id INT NOT NULL PRIMARY KEY, RETURN_REASON_description NTEXT)

## Returned Item ETL

In [47]:
# Rename 
returned_item_etl = returned_item.rename(columns=rename_mapping)

# Exclude 
returned_item_etl = filterColumns(returned_item_etl)

# Assert
sizeCheck(returned_item_etl,5)
returned_item_etl

# Create
createTable(returned_item_etl, 'RETURNS_id')
insertTable(returned_item_etl, 'RETURNS_id')

Table has 5 columns
CREATE TABLE RETURNS (RETURNS_id INT NOT NULL PRIMARY KEY, RETURN_REASON_id INT, RETURN_DATE_date NVARCHAR(30), ORDER_DETAIL_id INT, RETURN_QUANTITY_number INT)

## Order Details ETL

In [48]:
# Rename
order_detail_etl = order_details.rename(columns=rename_mapping)

# Exclude
order_detail_etl = filterColumns(order_detail_etl)

# Assert
sizeCheck(order_detail_etl,7)
order_detail_etl

# Create
createTable(order_detail_etl, 'ORDER_DETAIL_id')
insertTable(order_detail_etl, 'ORDER_DETAIL_id')

Table has 7 columns
CREATE TABLE ORDER_DETAIL (ORDER_DETAIL_id INT NOT NULL PRIMARY KEY, UNIT_SALE_PRICE_money DECIMAL(19,4), UNIT_PRICE_money DECIMAL(19,4), QUANTITY_number INT, UNIT_COST_money DECIMAL(19,4), ORDER_TABLE_id INT, PRODUCT_id INT)