# ETLs

## Imports

In [182]:
import pandas as pd
import sqlite3
import pyodbc

select_tables = "SELECT name FROM sqlite_master WHERE type='table'"

sales_con = sqlite3.connect("go_sales.sqlite")
sales_tables = pd.read_sql_query(select_tables, sales_con)

sales_country       = pd.read_sql_query("SELECT * FROM country;", sales_con)
order_details       = pd.read_sql_query("SELECT * FROM order_details;", sales_con)
order_header        = pd.read_sql_query("SELECT * FROM order_header;", sales_con)
order_method        = pd.read_sql_query("SELECT * FROM order_method;", sales_con)
product             = pd.read_sql_query("SELECT * FROM product;", sales_con)
product_line        = pd.read_sql_query("SELECT * FROM product_line;", sales_con)
product_type        = pd.read_sql_query("SELECT * FROM product_type;", sales_con)
sales_retailer_site = pd.read_sql_query("SELECT * FROM retailer_site;", sales_con)
return_reason       = pd.read_sql_query("SELECT * FROM return_reason;", sales_con)
returned_item       = pd.read_sql_query("SELECT * FROM returned_item;", sales_con)
sales_branch        = pd.read_sql_query("SELECT * FROM sales_branch;", sales_con)
sales_staff         = pd.read_sql_query("SELECT * FROM sales_staff;", sales_con)
SALES_TARGETData    = pd.read_sql_query("SELECT * FROM SALES_TARGETData;", sales_con)
sqlite_sequence     = pd.read_sql_query("SELECT * FROM sqlite_sequence;", sales_con)
print("Imported sales tables")

staff_con = sqlite3.connect("go_staff.sqlite")
staff_tables = pd.read_sql_query(select_tables, staff_con)

course            = pd.read_sql_query("SELECT * FROM course;", staff_con)
sales_branch      = pd.read_sql_query("SELECT * FROM sales_branch;", staff_con)
sales_staff       = pd.read_sql_query("SELECT * FROM sales_staff;", staff_con)
satisfaction      = pd.read_sql_query("SELECT * FROM satisfaction;", staff_con)
satisfaction_type = pd.read_sql_query("SELECT * FROM satisfaction_type;", staff_con)
training          = pd.read_sql_query("SELECT * FROM training;", staff_con)
print("Imported staff tables")

crm_con = sqlite3.connect("go_crm.sqlite")
crm_tables = pd.read_sql_query(select_tables, crm_con)
                           
age_group             = pd.read_sql_query("SELECT * FROM age_group;", crm_con)
crm_country           = pd.read_sql_query("SELECT * FROM country;", crm_con)
retailer              = pd.read_sql_query("SELECT * FROM retailer;", crm_con)
retailer_contact      = pd.read_sql_query("SELECT * FROM retailer_contact;", crm_con)
retailer_headquarters = pd.read_sql_query("SELECT * FROM retailer_headquarters;", crm_con)
retailer_segment      = pd.read_sql_query("SELECT * FROM retailer_segment;", crm_con)
crm_retailer_site     = pd.read_sql_query("SELECT * FROM retailer_site;", crm_con)
retailer_type         = pd.read_sql_query("SELECT * FROM retailer_type;", crm_con)
sales_demographic     = pd.read_sql_query("SELECT * FROM sales_demographic;", crm_con)
sales_territory       = pd.read_sql_query("SELECT * FROM sales_territory;", crm_con)
print("Imported crm tables")

inventory_level = pd.read_csv("GO_SALES_INVENTORY_LEVELSData.csv")
print("Imported inventory table")

sales_forecast = pd.read_csv("GO_SALES_PRODUCT_FORECASTData.csv")
print("Imported sales product forecast table")

Imported sales tables
Imported staff tables
Imported crm tables
Imported inventory table
Imported sales product forecast table

## SQL Server connection

In [183]:
servername = 'DESKTOP-9F8A8PF\\MSSQLSERVER01'
database = 'Datawarehouse'

sql_server_conn = pyodbc.connect(f"DRIVER={{SQL Server}};SERVER={servername};DATABASE={database};Trusted_Connection=yes")
cursor = sql_server_conn.cursor()

try:
    cursor.execute("SELECT * FROM Test")
    test = cursor.fetchall()
    print(test)
except pyodbc.Error as e:
    print(e)

[(1, 'test      '), (2, 'test2     ')]

In [184]:
"""
Flexible method to merge two tables
- NaN values of one dataframe can be filled by the other dataframe
- Uses all available columns
- Errors when a row of the two dataframes doesn't match (df1 has 'A' and df2 has 'B' in row)
"""
def merge_tables(df1, df2, index_col):
    # Ensure 'CODE' is set as the index for both DataFrames
    if index_col not in df1.columns or index_col not in df2.columns:
        raise KeyError(f"{index_col} must be a column in both DataFrames.")
    
    df1 = df1.set_index(index_col)
    df2 = df2.set_index(index_col)

    # Identify common and exclusive columns
    common_columns = df1.columns.intersection(df2.columns)
    exclusive_df1 = df1.columns.difference(df2.columns)
    exclusive_df2 = df2.columns.difference(df1.columns)

    # Concatenate exclusive columns from each DataFrame onto the other
    df1_combined = pd.concat([df1, df2[exclusive_df2]], axis=1, sort=False)
    df2_combined = pd.concat([df2, df1[exclusive_df1]], axis=1, sort=False)

    # Resolve common columns with nulls and conflicts
    for col in common_columns:
        # Align the Series from both DataFrames for comparison
        series1, series2 = df1_combined[col].align(df2_combined[col])

        # Check for conflicts (non-null values that do not match)
        conflict_mask = (~series1.isnull() & ~series2.isnull() & (series1 != series2))
        if conflict_mask.any():
            raise ValueError(f"Merge failed due to conflict in column '{col}'")

        # Use values from df2 where df1 is null (prioritizing df1 values)
        df1_combined[col] = series1.combine_first(series2)

    return df1_combined

# Merge duplicate tables into single table
retailer_site = merge_tables(sales_retailer_site, crm_retailer_site, 'RETAILER_SITE_CODE')
# Column name mismatch
sales_country = sales_country.rename(columns={'COUNTRY': 'COUNTRY_EN'})
country = merge_tables(sales_country, crm_country, 'COUNTRY_CODE')

## Utilities

In [187]:
rename_mapping = {
    'ACTIVE_INDICATOR': 'ACTIVE_INDICATOR_bool',
    'ADDRESS1': 'ADDRESS1_address',
    'ADDRESS2': 'ADDRESS2_address',
    'CITY': 'CITY_name',
    'COMPANY_NAME': 'COMPANY_name',
    'COUNTRY_CODE': 'COUNTRY_id',
    'COUNTRY_EN': 'COUNTRY_name',
    'COURSE_CODE': 'COURSE_id',
    'COURSE_DESCRIPTION': 'COURSE_description',
    'COUNTRY_LANGUAGE_code': 'COUNTRY_LANGUAGE_id',
    'CURRENCY_NAME': 'CURRENCY_name',
    'DATE_HIRED': 'DATE_HIRED_date',
    'DESCRIPTION': 'PRODUCT_description',
    'EMAIL': 'EMAIL_address',
    'EXPECTED_VOLUME': 'EXPECTED_VOLUME_number',
    'EXTENSION': 'EXTENSION_number',
    'E_MAIL': 'EMAIL_address',
    'FAX': 'FAX_phone',
    'FIRST_NAME': 'FIRST_NAME_name',
    'FLAG_IMAGE': 'FLAG_image',
    'GENDER': 'GENDER_char',
    'INTRODUCTION_DATE': 'PRODUCT_INTRODUCTION_DATE_date',
    'JOB_POSITION_EN': 'JOB_POSITION_name',
    'LANGUAGE': 'LANGUAGE_name',
    'LAST_NAME': 'LAST_NAME_name',
    'MANAGER_CODE': 'MANAGER_id',
    'MARGIN': 'PRODUCT_MARGIN_percentage',
    'MONTH': 'MONTH_number',
    'ORDER_DATE': 'ORDER_DATE_date',
    'ORDER_DETAIL_CODE': 'ORDER_DETAIL_id',
    'ORDER_METHOD_CODE': 'ORDER_METHOD_id',
    'ORDER_METHOD_EN': 'ORDER_METHOD_name',
    'ORDER_NUMBER': 'ORDER_TABLE_id',
    'PHONE': 'PHONE_phone',
    'POSITION_EN': 'POSITION_name',
    'POSTAL_ZONE': 'POSTAL_ZONE_code',
    'PRODUCTION_COST': 'PRODUCT_PRODUCTION_COST_money',
    'PRODUCT_IMAGE': 'PRODUCT_image',
    'PRODUCT_LINE_CODE': 'PRODUCT_LINE_id',
    'PRODUCT_LINE_EN': 'PRODUCT_LINE_name',
    'PRODUCT_NAME': 'PRODUCT_name',
    'PRODUCT_NUMBER': 'PRODUCT_id',
    'QUANTITY': 'QUANTITY_number',
    'REGION': 'REGION_name',
    'RETAILER_CODE': 'RETAILER_id',
    'RETAILER_CODEMR': 'RETAILER_MR_id',
    'RETAILER_CONTACT_CODE': 'RETAILER_CONTACT_id',
    'RETAILER_NAME': 'RETAILER_name',
    'RETAILER_SITE_CODE': 'RETAILER_SITE_id',
    'RETAILER_TYPE_CODE': 'RETAILER_TYPE_id',
    'RETAILER_TYPE_EN': 'RETAILER_TYPE_name',
    'RETURN_CODE': 'RETURNS_id',
    'RETURN_DATE': 'RETURN_DATE_date',
    'RETURN_DESCRIPTION_EN': 'RETURN_REASON_description',
    'RETURN_QUANTITY': 'RETURN_QUANTITY_number',
    'RETURN_REASON_CODE': 'RETURN_REASON_id',
    'SALES_BRANCH_CODE': 'SALES_BRANCH_id',
    'SALES_STAFF_CODE': 'SALES_STAFF_id',
    'SALES_TERRITORY_CODE': 'SALES_TERRITORY_id',
    'SATISFACTION_TYPE_CODE': 'SATISFACTION_TYPE_id',
    'SATISFACTION_TYPE_DESCRIPTION': 'SATISFACTION_TYPE_description',
    'SEGMENT_CODE': 'SEGMENT_code',
    'SEGMENT_LANGUAGE_code': 'SEGMENT_LANGUAGE_id',
    'TERRITORY_NAME_EN': 'TERRITORY_name',
    'UNIT_COST': 'UNIT_COST_money',
    'UNIT_PRICE': 'UNIT_PRICE_money',
    'UNIT_SALE_PRICE': 'UNIT_SALE_PRICE_money',
    'WORK_PHONE': 'WORK_PHONE_phone',
    'YEAR': 'YEAR_number'
}

# List of all vetted columns
valid_columns = list(rename_mapping.values())

# Filters out all columns of dataframe that aren't typed
def filterColumns(dataframe):
    valid_columns_set = set(valid_columns)
    actual_columns_set = set(dataframe.columns)
    intersection_columns = list(actual_columns_set.intersection(valid_columns_set))

    # Use the intersection result to filter columns from dataframe
    return dataframe[intersection_columns]

# Filters out all columns of dataframe that aren't typed
def excludeColumns(dataframe, column_names):
    return dataframe[dataframe.columns.difference(column_names)]

def sizeCheck(dataframe, expected_column_count):
    actual_column_count = len(dataframe.columns)
    if actual_column_count == expected_column_count:
        print(f'Table has {expected_column_count} columns')
    else:
        raise Exception(f'Table has {actual_column_count} columns, expected {expected_column_count}')


column_types = {
    'name': 'NVARCHAR(80)',
    'image': 'NVARCHAR(60)',
    'id': 'INT',
    'description': 'NTEXT',
    'money': 'DECIMAL(19,4)',
    'percentage': 'DECIMAL(12,12)',
    'date': 'NVARCHAR(30)',
    'code': 'NVARCHAR(40)',
    'char': 'CHAR(1)',
    'number': 'INT',
    'phone': 'NVARCHAR(30)',
    'address': 'NVARCHAR(80)',
    'bool': 'BIT',
}


def getTypes():
    types = {}
    for column in rename_mapping.values():
        column_type = column.rsplit('_', 1)[1]
        types[column_type] = ''
    return types

def columnType(column_name):
    err = ''
    try:
        return column_types[column_name.rsplit('_', 1)[1]]
    except IndexError:
        err = "Column name doesn't contain a type"
    except KeyError:
        err = "Column type not found"
    raise Exception(err)

# def columnValue(column_name):
    
#     if columnType(column_name) in va

def createTable(dataframe, PK):
    # Primary key with the type extension removed
    # Manual labor isn't worth it!
    tablename = PK.rsplit('_', 1)[0]

    # Add Primary Key as first column
    columns = f'{PK} {columnType(PK)} NOT NULL PRIMARY KEY'

    # Add all the other columns
    for column in dataframe.columns:
        if column != PK: # PK is already added
            columns += f', {column} {columnType(column)}'

    # Create the command
    command = f"CREATE TABLE {tablename} ({columns})"

    print(command)

    try:
        cursor.execute(command)
        cursor.commit()
    except pyodbc.Error as e:
        if 'There is already an object named' in str(e):
            print('Table already exists in database')
        else:
            raise(e)

def insertTable(dataframe, PK):
    # Primary key with the type extension removed
    # Manual labor isn't worth it!
    tablename = PK.rsplit('_', 1)[0]

    # Add Primary Key as first column
    columns = PK
    
    # Add all the other columns
    for column in dataframe.columns:
        if column != PK: # PK is already added
            columns += f', {column}'

    # Generate commands
    commands = ''
    for i, row in dataframe.iterrows():
        values = str(row[PK])

        for column in dataframe.columns:
            if column != PK: # PK is already added
                values += f", '{row[str(column)]}'"

        commands += f"INSERT INTO {tablename} ({columns}) VALUES ({values});\n"
        
    try:
        cursor.execute(commands)
        cursor.commit()
    except pyodbc.Error as e:
        if 'There is already an object named' in str(e):
            print('Table already exists in database')
        else:
            print(commands)
            #raise(e)
            

column_types

{'name': 'NVARCHAR(80)',
 'image': 'NVARCHAR(60)',
 'id': 'INT',
 'description': 'NTEXT',
 'money': 'DECIMAL(19,4)',
 'percentage': 'DECIMAL(12,12)',
 'date': 'NVARCHAR(30)',
 'code': 'NVARCHAR(40)',
 'char': 'CHAR(1)',
 'number': 'INT',
 'phone': 'NVARCHAR(30)',
 'address': 'NVARCHAR(80)',
 'bool': 'BIT'}

## Product ETL

In [188]:
# Merge
product_etl = pd.merge(product, product_type, on="PRODUCT_TYPE_CODE")
product_etl = pd.merge(product_etl, product_line, on="PRODUCT_LINE_CODE")

# Rename
product_etl = product_etl.rename(columns=rename_mapping)

# Exclude
product_etl = filterColumns(product_etl)

# Assert
sizeCheck(product_etl,10)
product_etl

# Create
createTable(product_etl, 'PRODUCT_id')
insertTable(product_etl, 'PRODUCT_id')

Table has 10 columns
CREATE TABLE PRODUCT (PRODUCT_id INT NOT NULL PRIMARY KEY, PRODUCT_description NTEXT, PRODUCT_MARGIN_percentage DECIMAL(12,12), PRODUCT_PRODUCTION_COST_money DECIMAL(19,4), PRODUCT_image NVARCHAR(60), PRODUCT_LINE_name NVARCHAR(80), PRODUCT_INTRODUCTION_DATE_date NVARCHAR(30), LANGUAGE_name NVARCHAR(80), PRODUCT_LINE_id INT, PRODUCT_name NVARCHAR(80))
Table already exists in database
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (1, 'Lightweight, collapsible bag to carry liquids easily.  Wide mouth for easy filling.  Holds 10 liters.', '.33', '4', 'P01CE1CG1.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'TrailChef Water Bag');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (10, 'Spoon, fork and knife set made of a light yet strong metal alloy.  Carrying pouch included.', '.4', '10', 'P10CE1CG1.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'TrailChef Utensils');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (100, 'The Insect Bite Relief helps the itching and swelling caused by most insect bites.', '.5', '3', 'P100OP4FA17.jpg', 'Outdoor Protection', '15-2-2011', 'EN', '4', 'Insect Bite Relief');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (101, 'Iron is 17-4 stainless steel.  Shafts are graphite with a frequency matched throughout the set. Includes 3 iron to Pitching Wedge.', '.43', '305.54', 'P101GE5IR18.jpg', 'Golf Equipment', '15-12-2019', 'EN', '5', 'Hailstorm Steel Irons');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (102, 'Made entirely of pure titanium. The ultimate in golf club technology. Lightweight graphite shaft and light overall weight. Includes 3 iron to Pitching Wedge.', '.51', '380.95', 'P102GE5IR18.jpg', 'Golf Equipment', '10-12-2019', 'EN', '5', 'Hailstorm Titanium Irons');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (103, 'Iron is 17-4 stainless steel.  Shafts are graphite with a frequency matched throughout the set. Includes 3 iron to Pitching Wedge.', '.43', '277.76', 'P101GE5IR18.jpg', 'Golf Equipment', '10-12-2019', 'EN', '5', 'Lady Hailstorm Steel Irons');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (104, 'Made entirely of pure titanium. A wider sole and loft system to help you get the ball airborne with less effort. Includes 3 iron to Pitching Wedge.', '.51', '333.32', 'P102GE5IR18.jpg', 'Golf Equipment', '18-12-2019', 'EN', '5', 'Lady Hailstorm Titanium Irons');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (105, 'Crafted of 6-4 titanium which is 40% lighter and 20% stronger than 17-4 steel.  Includes 3 Wood, 5 Wood and 12 degree driver.', '.55', '555.9', 'P105GE5WD19.jpg', 'Golf Equipment', '27-12-2019', 'EN', '5', 'Hailstorm Titanium Woods Set');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (106, 'These steel woods are manufactured to exact tolerances to ensure maximum transfer of energy between the club head and the golf ball. Includes 3 Wood, 5 Wood and 12 degree driver.', '.43', '536.09', 'P106GE5WD19.jpg', 'Golf Equipment', '5-12-2019', 'EN', '5', 'Hailstorm Steel Woods Set');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (107, 'Crafted of 6-4 titanium which is 40% lighter and 20% stronger than 17-4 steel. Includes 3 Wood, 5 Wood and 12 degree driver.', '.55', '509.07', 'P105GE5WD19.jpg', 'Golf Equipment', '13-1-2020', 'EN', '5', 'Lady Hailstorm Titanium Woods Set');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (108, 'These steel woods are manufactured to exact tolerances to ensure maximum transfer of energy between the club head and the golf ball. Includes 3 Wood, 5 Wood and 12 degree driver.', '.43', '472.22', 'P106GE5WD19.jpg', 'Golf Equipment', '27-12-2019', 'EN', '5', 'Lady Hailstorm Steel Woods Set');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (109, 'High quality putter is cast  from a soft yellow brass alloy to give the putter its uniquely soft feel at impact.', '.43', '35', 'P109GE5PT20.jpg', 'Golf Equipment', '10-12-2019', 'EN', '5', 'Course Pro Putter');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (11, 'A perfect tent for biking and hiking trips, compact and very light.  Features three shock cord aluminum poles, and three large mesh windows.  Packed size: 15 x 40 cm. Weight: 0.5 kg.', '.28', '250', 'P11CE1TN2.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Star Lite');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (110, 'This premium putter has copper mixed with lightweight aluminum for a smooth touch.', '.5', '60', 'P110GE5PT20.jpg', 'Golf Equipment', '10-12-2019', 'EN', '5', 'Blue Steel Putter');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (111, 'Putter head is composed from a single piece of the softest carbon steel for optimum feel.', '.55', '81.8', 'P111GE5PT20.jpg', 'Golf Equipment', '15-12-2019', 'EN', '5', 'Blue Steel Max Putter');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (112, 'Set includes two premium golf ball and an assortment of wooden golf tees.', '.33', '6', 'P112GE5GA21.jpg', 'Golf Equipment', '10-1-2020', 'EN', '5', 'Course Pro Golf and Tee Set');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (113, 'Large red and white patterned golf umbrella.', '.5', '6', 'P113GE5GA21.jpg', 'Golf Equipment', '15-1-2020', 'EN', '5', 'Course Pro Umbrella');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (114, 'High quality golf bag that includes carrying strap and large front pocket.', '.6', '80', 'P114GE5GA21.jpg', 'Golf Equipment', '15-12-2019', 'EN', '5', 'Course Pro Golf Bag');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (115, 'Durable nylon constructed gloves with stitched leather palm.', '.5', '5', 'P115GE5GA21.jpg', 'Golf Equipment', '27-12-2019', 'EN', '5', 'Course Pro Gloves');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (12, 'Four pole geodesic dome mountain tent that comfortably fits two to three people. 10 mm aluminum poles, mesh pole sleeves and taped seams.  Packed size: 22 x 63 cm. Weight: 4.8 kg.', '.23', '473.07', 'P12CE1TN2.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Star Dome');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (13, 'The Star Gazer 2 is the Great Outdoor's most versatile tent.  It is a large two-person tent that is both durable and light weight.  Packed size: 18 x 70 cm. Weight: 2.6 kg.', '.25', '392.57', 'P13CE1TN2.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Star Gazer 2');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (14, 'The Star Gazer 3 features a water proof fly, mesh window and two doors for good ventilation.  Packed size: 20 x 70 cm. Weight: 5.3 kg.', '.2', '476', 'P14CE1TN2.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Star Gazer 3');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (15, 'Massive cabin tent has ample room for six people. Mesh door and vent, T-style door.  Four side windows with storm flaps and three carry bags for tent and poles.', '.33', '490', 'P15CE1TN2.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Star Gazer 6');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (16, 'A single tent peg made of heavy-duty plated steel. Long enough even for hard, rocky ground. Length: 25 cm', '.5', '1', 'P16CE1TN2.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Star Peg');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (17, 'The Hibernator Lite is the perfect summer sleeping bag.  Light weight and comfortable down to 10░C.  The rectangular shape allows for easy pairing.  Weight with stuff sack: 1.0 kg.', '.28', '60', 'P17CE1SB3.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Hibernator Lite');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (18, 'The Hibernator is a three-season sleeping bag. The rectangular shape allows for easy pairing. Nylon shell material.  8 cm loft.  Comfortable down to 0░C.  One size fits up to 195 cm.', '.33', '86', 'P17CE1SB3.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Hibernator');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (19, 'The Hibernator Extreme has all the features you need for four-season comfort.  Comfortable from -18░ to 9░C. Silk comfort lining, nylon shell. Fits users to 195 cm, stuff sack included.', '.37', '150', 'P19CE1SB3.jpg', 'Camping Equipment', '26-10-2016', 'EN', '1', 'Hibernator Extreme');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (2, 'Aluminum canteen. Rugged fleece-lined cover with belt clips, removable shoulder sling and small pocket for water purification tablets bottle. Holds 2 liters', '.23', '9.22', 'P02CE1CG1.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'TrailChef Canteen');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (20, 'Mattress is made of extra-thick foam. Mesh stuff sack included for easy carrying and storage. Repair kit included.', '.28', '78.55', 'P20CE1SB3.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Hibernator Self - Inflating Mat');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (21, 'Warms up quickly for snow camping comfort. The Hibernator Pad will resist cracking in temperatures as low as -30░C.', '.17', '29.17', 'P21CE1SB3.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Hibernator Pad');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (22, 'Camp pillow is filled with soft, luxurious fibers for maximum compactness and resiliency. Covered with soft cotton on one side and soft flannel on the other.', '.33', '10', 'P22CE1SB3.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Hibernator Pillow');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (23, 'Aluminum frame camp cot that is lightweight and durable.  Size: 100 x 225 x 50 cm.  Weight: 7 kg.', '.33', '65.33', 'P23CE1SB3.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Hibernator Camp Cot');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (24, 'This pack is perfect for day trips and short hikes. Also great for students.  Separate front compartment, multi-layered interior organizer, 2 cm waist belt, 32,000 cu. cm.', '.17', '62.5', 'P24CE1PK4.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Canyon Mule Climber Backpack');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (25, 'A weekend getaway requires this pack.  It features a large front compression pocket, harness and waist belt, foam molded back panel, vinyl covered gear loops.  50,000 cu. cm.', '.33', '166.66', 'P25CE1PK4.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Canyon Mule Weekender Backpack');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (26, 'Set of three packs: handlebar pack, front pack and rear pack.  Designed to fit most mountain bikes.  Includes mounting hardware.  Total volume: 66,000 cu. cm.', '.33', '213.33', 'P26CE1PK4.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Canyon Mule Journey Backpack');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (27, 'Perfect for long back country trips, this pack features an expandable front pocket, includes a large sleeping bag compartment, padded shoulder harness, back and waist belt. 90,000 cu. cm.', '.43', '238.88', 'P27CE1PK4.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Canyon Mule Extreme Backpack');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (28, 'A durable plastic cooler with hinged top, perfect for storing small items. Size:100 x 50 x 50 cm.', '.2', '24', 'P28CE1PK4.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'Canyon Mule Cooler');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (29, 'This pack has a large capacity, perfect for carrying all your camping gear.  Solid metal zipper and leather bottom.', '.4', '41.18', 'P29CE1PK4.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Canyon Mule Carryall');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (3, 'Zippered nylon pouch contains cutlery for two, can opener, wire whisk, scrubber sponge, 2  60 ml squirt bottles, pancake turner and salt and pepper shaker.  Measures 10 x 22 x 5 cm.', '.28', '15.93', 'P03CE1CG1.jpg', 'Camping Equipment', '15-2-2011', 'EN', '1', 'TrailChef Kitchen Kit');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (30, 'Lightweight flashlight made from aircraft aluminum. Focusable beam, tail cap push button allows for single-handed operation. Uses two AA batteries, included.', '.5', '6.75', 'P30CE1LT5.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Firefly Lite');
INSERT INTO PRODUCT (PRODUCT_id, PRODUCT_description, PRODUCT_MARGIN_percentage, PRODUCT_PRODUCTION_COST_money, PRODUCT_image, PRODUCT_LINE_name, PRODUCT_INTRODUCTION_DATE_date, LANGUAGE_name, PRODUCT_LINE_id, PRODUCT_name) VALUES (31, 'Clip-on flashlight for map or book reading. Also comes with flexible fiber optic extension. Lightweight, uses only one AA battery, included.', '.5', '7.5', 'P31CE1LT5.jpg', 'Camping Equipment', '5-3-2013', 'EN', '1', 'Firefly Mapreader');

## Sales Staff ETL

In [189]:
# Merge
sales_staff_etl = pd.merge(sales_staff, sales_branch, on='SALES_BRANCH_CODE')
sales_staff_etl = pd.merge(sales_staff_etl, country, on='COUNTRY_CODE')
sales_staff_etl = pd.merge(sales_staff_etl, sales_territory, on='SALES_TERRITORY_CODE')

# Rename
sales_staff_etl = sales_staff_etl.rename(columns=rename_mapping)

# Exclude
sales_staff_etl = filterColumns(sales_staff_etl)

# Assert
sizeCheck(sales_staff_etl,23)
sales_staff_etl

# Create
createTable(sales_staff_etl, 'SALES_STAFF_id')
insertTable(sales_staff_etl, 'SALES_STAFF_id')

Table has 23 columns
CREATE TABLE SALES_STAFF (SALES_STAFF_id INT NOT NULL PRIMARY KEY, WORK_PHONE_phone NVARCHAR(30), EMAIL_address NVARCHAR(80), EXTENSION_number INT, LANGUAGE_name NVARCHAR(80), FLAG_image NVARCHAR(60), COUNTRY_id INT, POSITION_name NVARCHAR(80), FAX_phone NVARCHAR(30), REGION_name NVARCHAR(80), MANAGER_id INT, POSTAL_ZONE_code NVARCHAR(40), SALES_BRANCH_id INT, TERRITORY_name NVARCHAR(80), SALES_TERRITORY_id INT, LAST_NAME_name NVARCHAR(80), ADDRESS2_address NVARCHAR(80), DATE_HIRED_date NVARCHAR(30), CURRENCY_name NVARCHAR(80), FIRST_NAME_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), ADDRESS1_address NVARCHAR(80), CITY_name NVARCHAR(80))
Table already exists in database
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (100, '+358(0)17 - 433 127', 'TSavolainen@grtd123.com', '825', 'EN', 'F21', '22', 'Level 2 Sales Representative', '+358(0)17 - 433 129', 'None', '18', 'FIN-73100', '31', 'Northern Europe', '5', 'Savolainen', 'None', '23-Jul-1998 12:00:00 AM', 'markka', 'Tuomas', 'Finland', 'Kauppakatu 33', 'Kuopio');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (101, '82-2-778-6587', 'CKim@grtd123.com', '1228', 'EN', 'F13', '13', 'Level 2 Sales Representative', '82-2-778-6586', 'None', '87', '121-020', '32', 'Asia Pacific', '4', 'Kim', 'Mapo-Ku', '15-Dec-1998 12:00:00 AM', 'won', 'Chang-ho', 'Korea', '234-12, Kongdeok-Dong', 'Seoul');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (102, '82-2-778-6587', 'JChoi@grtd123.com', '2641', 'EN', 'F13', '13', 'Level 3 Sales Representative', '82-2-778-6586', 'None', '87', '121-020', '32', 'Asia Pacific', '4', 'Choi', 'Mapo-Ku', '27-Nov-1998 12:00:00 AM', 'won', 'Jung-ho', 'Korea', '234-12, Kongdeok-Dong', 'Seoul');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (103, '886-2-2975-1988', 'KKwao@grtd123.com', '1541', 'EN', 'F12', '12', 'Level 2 Sales Representative', '886-2-2989-4978', 'Taipei', '87', '241', '33', 'Asia Pacific', '4', 'Kao', 'None', '07-Oct-1998 12:00:00 AM', 'new dollar', 'Kwei-Ping', 'Taiwan', '154, Choung-Cheng South Road', 'San Chung');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (104, '886-2-2975-1988', 'CFon@grtd123.com', '2311', 'EN', 'F12', '12', 'Level 3 Sales Representative', '886-2-2989-4978', 'Taipei', '87', '241', '33', 'Asia Pacific', '4', 'Fang', 'None', '08-May-1996 12:00:00 AM', 'new dollar', 'Chin-Tsai', 'Taiwan', '154, Choung-Cheng South Road', 'San Chung');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (105, '86-21-6790-5612', 'XWang@grtd123.com', '334', 'EN', 'F14', '14', 'Level 2 Sales Representative', '86-21-6790-5612', 'None', '87', '200040', '34', 'Asia Pacific', '4', 'Wang', 'None', '07-May-1998 12:00:00 AM', 'renminbi', 'Xiangyong', 'China', 'No. 1277 Beijing Xi Road', 'Shanghai');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (106, '86-21-6790-5612', 'FMeng@grtd123.com', '365', 'EN', 'F14', '14', 'Level 3 Sales Representative', '86-21-6790-5612', 'None', '87', '200040', '34', 'Asia Pacific', '4', 'Meng', 'None', '25-Mar-1998 12:00:00 AM', 'renminbi', 'Fei', 'China', 'No. 1277 Beijing Xi Road', 'Shanghai');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (107, '+(44) 181 2033144', 'WTaylor@grtd123.com', '3547', 'EN', 'F09', '9', 'Branch Manager', '+(44) 181 5030282', 'None', '18', 'N17 7LX', '35', 'Central Europe', '6', 'Taylor', '25 Ebury Street', '09-Jun-1995 12:00:00 AM', 'pounds', 'Walter', 'United Kingdom', 'Victoria House', 'London');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (108, '+(44) 181 2033144', 'PTamrine@grtd123.com', '3542', 'EN', 'F09', '9', 'General Manager', '+(44) 181 5030282', 'None', '108', 'N17 7LX', '35', 'Central Europe', '6', 'Tamrine', '25 Ebury Street', '18-Dec-1998 12:00:00 AM', 'pounds', 'Penelope', 'United Kingdom', 'Victoria House', 'London');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (109, '+(44) 181 2033144', 'HWilloughby@grtd123.com', '3544', 'EN', 'F09', '9', 'Level 2 Sales Representative', '+(44) 181 5030282', 'None', '107', 'N17 7LX', '35', 'Central Europe', '6', 'Willoughby', '25 Ebury Street', '12-Jun-1998 12:00:00 AM', 'pounds', 'Humphrey', 'United Kingdom', 'Victoria House', 'London');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (110, '+(44) 181 2033144', 'JHythe@grtd123.com', '3621', 'EN', 'F09', '9', 'Level 3 Sales Representative', '+(44) 181 5030282', 'None', '107', 'N17 7LX', '35', 'Central Europe', '6', 'Ross-Hythe', '25 Ebury Street', '12-Sep-1997 12:00:00 AM', 'pounds', 'James', 'United Kingdom', 'Victoria House', 'London');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (111, '+(44) 121 3505267', 'PLinton@grtd123.com', '1216', 'EN', 'F09', '9', 'Branch Manager', '+(44) 121 3583843', 'West Midlands', '18', 'B43 7NP', '36', 'Central Europe', '6', 'Linton', 'Market Street', '18-Jun-1996 12:00:00 AM', 'pounds', 'Polly', 'United Kingdom', '3 Albany Court', 'Birmingham');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (112, '+(44) 121 3505267', 'JLopez@grtd123.com', '1287', 'EN', 'F09', '9', 'Level 1 Sales Representative', '+(44) 121 3583843', 'West Midlands', '111', 'B43 7NP', '36', 'Central Europe', '6', 'Lopez', 'Market Street', '02-Jan-1999 12:00:00 AM', 'pounds', 'Josef', 'United Kingdom', '3 Albany Court', 'Birmingham');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (113, '+(44) 121 3505267', 'KReed@grtd123.com', '1198', 'EN', 'F09', '9', 'Level 1 Sales Representative', '+(44) 121 3583843', 'West Midlands', '111', 'B43 7NP', '36', 'Central Europe', '6', 'Reed', 'Market Street', '15-Jun-1999 12:00:00 AM', 'pounds', 'Keith', 'United Kingdom', '3 Albany Court', 'Birmingham');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (114, '+(44) 121 3505267', 'JWalker@grtd123.com', '1233', 'EN', 'F09', '9', 'Level 3 Sales Representative', '+(44) 121 3583843', 'West Midlands', '111', 'B43 7NP', '36', 'Central Europe', '6', 'Walker', 'Market Street', '27-Jul-1995 12:00:00 AM', 'pounds', 'Janet', 'United Kingdom', '3 Albany Court', 'Birmingham');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (115, '+(44) 121 3505267', 'EBrowne@grtd123.com', '1247', 'EN', 'F09', '9', 'Level 2 Sales Representative', '+(44) 121 3583843', 'West Midlands', '111', 'B43 7NP', '36', 'Central Europe', '6', 'Browne', 'Market Street', '20-Jul-1998 12:00:00 AM', 'pounds', 'Emily', 'United Kingdom', '3 Albany Court', 'Birmingham');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (116, '+(41) 17 12 13 14', 'SSommer@grtd123.com', '1115', 'EN', 'F08', '8', 'Level 2 Sales Representative', '+(41) 17 12 13 20', 'None', '18', 'CH-8057', '37', 'Central Europe', '6', 'Sommer', 'None', '17-Jan-2000 12:00:00 AM', 'francs', 'Susanne', 'Switzerland', 'Birchstraße 13', 'Zürich');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (117, '+(41) 17 12 13 14', 'FJever@grtd123.com', '1154', 'EN', 'F08', '8', 'Level 3 Sales Representative', '+(41) 17 12 13 20', 'None', '18', 'CH-8057', '37', 'Central Europe', '6', 'Jever', 'None', '18-Oct-1999 12:00:00 AM', 'francs', 'Frank', 'Switzerland', 'Birchstraße 13', 'Zürich');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (118, '+(41) 17 12 13 14', 'GVertemati@grtd123.com', '1254', 'EN', 'F08', '8', 'Level 1 Sales Representative', '+(41) 17 12 13 20', 'None', '18', 'CH-8057', '37', 'Central Europe', '6', 'Vertemati', 'None', '10-Feb-2000 12:00:00 AM', 'francs', 'Gianni', 'Switzerland', 'Birchstraße 13', 'Zürich');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (119, '+32 16 20.73.21', 'GGellens@grtd123.com', '1349', 'EN', 'F16', '17', 'Branch Manager', '+32 16 20.73.32', 'None', '18', 'B-3001', '38', 'Central Europe', '6', 'Gellens', 'None', '10-Sep-1999 12:00:00 AM', 'francs', 'Gracy', 'Belgium', 'Interleuvenlaan 2', 'Heverlee');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (12, '+(49) 40 663 1990', 'EWiesinger@grtd123.com', '1818', 'EN', 'F02', '2', 'Level 2 Sales Representative', '+(49) 40 663 4571', 'None', '14', 'D-22529', '13', 'Central Europe', '6', 'Wiesinger', 'None', '27-Feb-1997 12:00:00 AM', 'marks', 'Elsbeth', 'Germany', 'Schwabentor 35', 'Hamburg');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (120, '+32 16 20.73.21', 'GLaermans@grtd123.com', '1340', 'EN', 'F16', '17', 'Level 1 Sales Representative', '+32 16 20.73.32', 'None', '119', 'B-3001', '38', 'Central Europe', '6', 'Laermans', 'None', '15-Nov-1999 12:00:00 AM', 'francs', 'Giele', 'Belgium', 'Interleuvenlaan 2', 'Heverlee');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (121, '+32 16 20.73.21', 'FDecree@grtd123.com', '1642', 'EN', 'F16', '17', 'Level 1 Sales Representative', '+32 16 20.73.32', 'None', '119', 'B-3001', '38', 'Central Europe', '6', 'De Crée', 'None', '01-Dec-1999 12:00:00 AM', 'francs', 'François', 'Belgium', 'Interleuvenlaan 2', 'Heverlee');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (122, '+32 16 20.73.21', 'YLattrez@grtd123.com', '1633', 'EN', 'F16', '17', 'Level 3 Sales Representative', '+32 16 20.73.32', 'None', '119', 'B-3001', '38', 'Central Europe', '6', 'Lattrez', 'None', '09-Dec-1999 12:00:00 AM', 'francs', 'Yvette', 'Belgium', 'Interleuvenlaan 2', 'Heverlee');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (123, '+(43) 13 79 56 32', 'WSeefelder@grtd123.com', '325', 'EN', 'F05', '5', 'Level 2 Sales Representative', '+(43) 13 79 56 33', 'None', '18', 'A-1210', '39', 'Southern Europe', '7', 'Seefelder', 'None', '28-Oct-1998 12:00:00 AM', 'schillings', 'Willi', 'Austria', 'Jedleser Straße 7', 'Wien');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (124, '+(43) 13 79 56 32', 'SGruner@grtd123.com', '348', 'EN', 'F05', '5', 'Level 3 Sales Representative', '+(43) 13 79 56 33', 'None', '18', 'A-1210', '39', 'Southern Europe', '7', 'Grüner', 'None', '18-Feb-1998 12:00:00 AM', 'schillings', 'Sabine', 'Austria', 'Jedleser Straße 7', 'Wien');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (13, '+(49) 40 663 1990', 'EMorike@grtd123.com', '1865', 'EN', 'F02', '2', 'Regional Manager', '+(49) 40 663 4571', 'None', '108', 'D-22529', '13', 'Central Europe', '6', 'Mörike', 'None', '02-Jun-1999 12:00:00 AM', 'marks', 'Else', 'Germany', 'Schwabentor 35', 'Hamburg');
INSERT INTO SALES_STAFF (SALES_STAFF_id, WORK_PHONE_phone, EMAIL_address, EXTENSION_number, LANGUAGE_name, FLAG_image, COUNTRY_id, POSITION_name, FAX_phone, REGION_name, MANAGER_id, POSTAL_ZONE_code, SALES_BRANCH_id, TERRITORY_name, SALES_TERRITORY_id, LAST_NAME_name, ADDRESS2_address, DATE_HIRED_date, CURRENCY_name, FIRST_NAME_name, COUNTRY_name, ADDRESS1_address, CITY_name) VALUES (14, '+(49) 40 663 1990', 'FFuchs@grtd123.com', '1847', 'EN', 'F02', '2', 'Branch Manager', '+(49) 40 663 4571', 'None', '18', 'D-22529', '13', 'Central Europe', '6', 'Fuchs', 'None', '12-Jan-1997 12:00:00 AM', 'marks', 'Frank', 'Germany', 'Schwabentor 35', 'Hamburg');

## Satisfaction type ETL

In [ ]:
# Rename
satisfaction_type_etl = satisfaction_type.rename(columns=rename_mapping)

# Exclude
satisfaction_type_etl = filterColumns(satisfaction_type_etl)

# Assert
sizeCheck(satisfaction_type_etl,2)
satisfaction_type_etl

# Create
createTable(satisfaction_type_etl, 'SATISFACTION_TYPE_id')
insertTable(satisfaction_type_etl, 'SATISFACTION_TYPE_id')

Table has 2 columns
CREATE TABLE SATISFACTION_TYPE (SATISFACTION_TYPE_id INT NOT NULL PRIMARY KEY, SATISFACTION_TYPE_description NTEXT)
Table already exists in database

## Course ETL

In [ ]:
# Rename
course_etl = course.rename(columns=rename_mapping)

# Exclude
course_etl = filterColumns(course_etl)

# Assert
sizeCheck(course_etl,2)
course_etl

# Create
createTable(course_etl, 'COURSE_id')
insertTable(course_etl, 'COURSE_id')

Table has 2 columns
CREATE TABLE COURSE (COURSE_id INT NOT NULL PRIMARY KEY, COURSE_description NTEXT)
Table already exists in database

## Sales Forecast ETL

In [ ]:
# Rename
sales_forecast_etl = sales_forecast.rename(columns=rename_mapping)

# Exclude
sales_forecast_etl = filterColumns(sales_forecast_etl)

# Assert
sizeCheck(sales_forecast_etl,4)
sales_forecast_etl

# Create
createTable(sales_forecast_etl, 'PRODUCT_id')
insertTable(sales_forecast_etl, 'PRODUCT_id')

Table has 4 columns
CREATE TABLE PRODUCT (PRODUCT_id INT NOT NULL PRIMARY KEY, MONTH_number INT, YEAR_number INT, EXPECTED_VOLUME_number INT)
Table already exists in database

## Retailer Contact ETL

In [ ]:
# Merge
retailer_contact_etl = pd.merge(retailer_contact, retailer_site, on='RETAILER_SITE_CODE')
retailer_contact_etl = pd.merge(retailer_contact_etl, country, on='COUNTRY_CODE')
retailer_contact_etl = pd.merge(retailer_contact_etl, sales_territory, on='SALES_TERRITORY_CODE')\
    
# Rename 
retailer_contact_etl = retailer_contact_etl.rename(columns=rename_mapping)

# Exclude
retailer_contact_etl = filterColumns(retailer_contact_etl)

# Assert
sizeCheck(retailer_contact_etl,23)
retailer_contact_etl

# Create
createTable(retailer_contact_etl, 'RETAILER_CONTACT_id')
insertTable(retailer_contact_etl, 'RETAILER_CONTACT_id')

Table has 23 columns
CREATE TABLE RETAILER_CONTACT (RETAILER_CONTACT_id INT NOT NULL PRIMARY KEY, JOB_POSITION_name NVARCHAR(80), EMAIL_address NVARCHAR(80), EXTENSION_number INT, LANGUAGE_name NVARCHAR(80), FLAG_image NVARCHAR(60), COUNTRY_id INT, REGION_name NVARCHAR(80), FAX_phone NVARCHAR(30), POSTAL_ZONE_code NVARCHAR(40), RETAILER_SITE_id INT, TERRITORY_name NVARCHAR(80), SALES_TERRITORY_id INT, GENDER_char CHAR(1), LAST_NAME_name NVARCHAR(80), ADDRESS2_address NVARCHAR(80), RETAILER_id INT, CURRENCY_name NVARCHAR(80), ACTIVE_INDICATOR_bool BIT, FIRST_NAME_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), ADDRESS1_address NVARCHAR(80), CITY_name NVARCHAR(80))
Table already exists in database

## Retailer ETL

In [194]:
# Merge
retailer_etl = pd.merge(retailer, retailer_headquarters, on='RETAILER_CODEMR')
retailer_etl = pd.merge(retailer_etl, retailer_type, on='RETAILER_TYPE_CODE')

# Merge and rename language columns for clarity
retailer_etl = pd.merge(retailer_etl, retailer_segment, on='SEGMENT_CODE').rename(columns={'LANGUAGE':'SEGMENT_LANGUAGE_code'})
retailer_etl = pd.merge(retailer_etl, country, on='COUNTRY_CODE').rename(columns={'LANGUAGE':'COUNTRY_LANGUAGE_code'})

# Exclude columns early due to merge naming conflicts
retailer_etl = excludeColumns(retailer_etl, ['TRIAL219','TRIAL222_x','TRIAL222_y','TRIAL222'])

# Rename
retailer_etl = pd.merge(retailer_etl, sales_territory, on='SALES_TERRITORY_CODE')\
    .rename(columns=rename_mapping)

# Exclude
retailer_etl = filterColumns(retailer_etl)

# Assert
sizeCheck(retailer_etl,22)
retailer_etl

# Create
createTable(retailer_etl, 'RETAILER_id')
insertTable(retailer_etl, 'RETAILER_id')

Table has 22 columns
CREATE TABLE RETAILER (RETAILER_id INT NOT NULL PRIMARY KEY, COUNTRY_LANGUAGE_id INT, FLAG_image NVARCHAR(60), COUNTRY_id INT, REGION_name NVARCHAR(80), FAX_phone NVARCHAR(30), PHONE_phone NVARCHAR(30), POSTAL_ZONE_code NVARCHAR(40), TERRITORY_name NVARCHAR(80), RETAILER_name NVARCHAR(80), SALES_TERRITORY_id INT, SEGMENT_code NVARCHAR(40), SEGMENT_LANGUAGE_id INT, RETAILER_TYPE_id INT, ADDRESS2_address NVARCHAR(80), RETAILER_TYPE_name NVARCHAR(80), CURRENCY_name NVARCHAR(80), COUNTRY_name NVARCHAR(80), RETAILER_MR_id INT, ADDRESS1_address NVARCHAR(80), CITY_name NVARCHAR(80), COMPANY_name NVARCHAR(80))
Table already exists in database
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (100, 'EN', 'F03', '3', 'Nebraska', '1 (402) 475-4717', '1 (402) 475-4317', '68538', 'Americas', 'Golf Masters', '1', '3', 'EN', '1', 'None', 'Golf Shop', 'dollars', 'United States', '70', '2845 South Second Street', 'Lincoln', 'Golf Masters');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (101, 'EN', 'F03', '3', 'New York', '1 (212) 477-9716', '1 (212) 477-7132', '10039', 'Americas', 'The Marketplace', '1', '5', 'EN', '2', 'None', 'Department Store', 'dollars', 'United States', '71', '1902 Lancaster Street', 'New York', 'The Marketplace');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (102, 'EN', 'F03', '3', 'New Hampshire', '1 (603) 448-6412', '1 (603) 448-9004', '03761', 'Americas', 'Camping Equipment Online', '1', '7', 'EN', '3', 'P.O. Box 224', 'Direct Marketing', 'dollars', 'United States', '72', '332 South Main Street', 'Hanover', 'Camping Equipment Online');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (103, 'EN', 'F03', '3', 'Oregon', '1 (503) 285-0894', '1 (503) 285-0954', '97295', 'Americas', 'Tamarack Outfitter Rentals', '1', '9', 'EN', '5', 'None', 'Equipment Rental Store', 'dollars', 'United States', '73', '582 NE Tomahawk Island Drive', 'Portland', 'Tamarack Outfitter Rentals');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (104, 'EN', 'F03', '3', 'Texas', '1 (713) 524-3215', '1 (713) 524-1301', '77112', 'Americas', 'Extreme Outdoors', '1', '2', 'EN', '6', 'None', 'Outdoors Shop', 'dollars', 'United States', '74', '83 Nirson Road', 'Houston', 'Extreme Outdoors');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (105, 'EN', 'F03', '3', 'Texas', '1 (972) 247-4871', '1 (972) 247-5498', '75293', 'Americas', 'Eye Dimensions', '1', '10', 'EN', '7', 'None', 'Eyewear Store', 'dollars', 'United States', '75', '832 Vensa Crescent', 'Dallas', 'Eye Dimensions');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (106, 'EN', 'F03', '3', 'California', '1 (213) 747-4456', '1 (213) 747-1278', '90211', 'Americas', 'Donovan's Sports', '1', '12', 'EN', '8', 'None', 'Sports Store', 'dollars', 'United States', '76', '932 Ohmey Avenue', 'Los Angeles', 'Donovan's Sports');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (108, 'EN', 'F03', '3', 'Kentucky', '1 (502) 223-5391', '1 (502) 223-6801', '40687', 'Americas', 'Trail Masters', '1', '2', 'EN', '6', 'None', 'Outdoors Shop', 'dollars', 'United States', '78', '2189 Louisville Road', 'Frankfurt', 'Trail Masters');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (109, 'EN', 'F03', '3', 'Texas', '1 (972) 247-5888', '1 (972) 247-4508', '75287', 'Americas', 'Second Wind Sports', '1', '12', 'EN', '8', 'None', 'Sports Store', 'dollars', 'United States', '79', '283 Mondela Street', 'Dallas', 'Second Wind Sports');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (110, 'EN', 'F03', '3', 'South Carolina', '1 (803) 571-7802', '1 (803) 571-9906', '29414', 'Americas', 'The Golf Hut', '1', '3', 'EN', '1', 'P.O. Box 1128', 'Golf Shop', 'dollars', 'United States', '80', '1488 Orleans Road', 'Charleston', 'The Golf Hut');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (111, 'EN', 'F03', '3', 'Arizona', '1 (602) 788-6694', '1 (602) 788-6812', '85052', 'Americas', 'Buena Vista Eyeware', '1', '10', 'EN', '7', 'None', 'Eyewear Store', 'dollars', 'United States', '81', '172 N. Cave Creek Road', 'Phoenix', 'Buena Vista Eyeware');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (113, 'EN', 'F03', '3', 'Washington', '1 (206) 292-5489', '1 (206) 292-3015', '98140', 'Americas', 'Edward's Department Store', '1', '5', 'EN', '2', 'None', 'Department Store', 'dollars', 'United States', '82', '325 Wayside Street', 'Seattle', 'Edward's Department Store');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (115, 'EN', 'F03', '3', 'California', '1 (619) 223-3165', '1 (619) 223-6615', '92120', 'Americas', 'Consumer Club', '1', '8', 'EN', '4', 'Suite 67', 'Warehouse Store', 'dollars', 'United States', '83', '333 Ustaff Way', 'San Diego', 'Consumer Club');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (116, 'EN', 'F03', '3', 'Massachusetts', '1 (617) 268-3091', '1 (617) 268-7629', '02141', 'Americas', 'Connor Department Store', '1', '5', 'EN', '2', 'Suite 2-4', 'Department Store', 'dollars', 'United States', '84', '937 Hilson Crescent', 'Boston', 'Connor Department Store');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (117, 'EN', 'F03', '3', 'Colorado', '1 (303) 449-7818', '1 (303) 449-6582', '80341', 'Americas', 'By A Thread', '1', '2', 'EN', '6', 'None', 'Outdoors Shop', 'dollars', 'United States', '85', '231 Linson Street', 'Boulder', 'By A Thread');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (118, 'EN', 'F03', '3', 'Arkansas', '1 (501) 821-7731', '1 (501) 821-8518', '72287', 'Americas', 'Hartman's', '1', '5', 'EN', '2', 'None', 'Department Store', 'dollars', 'United States', '86', '3866 Point Circle', 'Little Rock', 'Hartman's');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (119, 'EN', 'F03', '3', 'Minnesota', '1 (218) 722-4311', '1 (218) 722-8502', '55810', 'Americas', 'Mega-Outlet', '1', '8', 'EN', '4', 'None', 'Warehouse Store', 'dollars', 'United States', '87', '1655 East Superior Street', 'Duluth', 'Mega-Outlet');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (121, 'EN', 'F03', '3', 'Hawaii', '1 (808) 737-0961', '1 (808) 737-3899', '96857', 'Americas', 'The Caddy's Corner', '1', '3', 'EN', '1', 'None', 'Golf Shop', 'dollars', 'United States', '88', '1529 Kapahula Avenue', 'Honolulu', 'The Caddy's Corner');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (123, 'EN', 'F03', '3', 'Iowa', '1 (319) 390-5310', '1 (319) 390-2288', '52421', 'Americas', 'American Home', '1', '5', 'EN', '2', 'None', 'Department Store', 'dollars', 'United States', '89', '1290 21st Ave. SW', 'Cedar Rapids', 'American Home');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (124, 'EN', 'F03', '3', 'California', '1 (619) 223-1245', '1 (619) 223-1235', '92129', 'Americas', 'Weston Outfitters', '1', '2', 'EN', '6', 'None', 'Outdoors Shop', 'dollars', 'United States', '90', '738 Greyling Street', 'San Diego', 'Weston Outfitters');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (125, 'EN', 'F01', '1', 'None', '+33 4 42 17 83 65', '+33 4 42 17 57 57', 'F-13023', 'Central Europe', 'La bonne Forme', '6', '11', 'EN', '8', 'Boîte postale 16', 'Sports Store', 'francs', 'France', '233', '67, avenue Daumesnil', 'Marseille', 'La bonne Forme');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (126, 'EN', 'F19', '20', 'México', '+(525) 684 7119', '+(525) 684 7127', '06700', 'Americas', 'Artículos de Campismo El Aquila, S.A. de C.V.', '1', '2', 'EN', '6', 'Virreyes', 'Outdoors Shop', 'pesos', 'Mexico', '91', 'Avda. Chapultepec 246-303', 'Distrito Federal', 'Artículos de Campismo El Aquila, S.A. de C.V.');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (127, 'EN', 'F19', '20', 'Nuevo León', '+(528) 366 6717', '+(528) 366 6773', '30530', 'Americas', 'Todo para el Golf, S.A. de C.V.', '1', '3', 'EN', '1', 'Atahualpa', 'Golf Shop', 'pesos', 'Mexico', '92', 'Francisco Munguía No. 45', 'Monterey', 'Todo para el Golf, S.A. de C.V.');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (128, 'EN', 'F19', '20', 'México', '+(525) 645 9200', '+(525) 645 9288', '06500', 'Americas', 'MER-KA-DOS, S.A. de C.V.', '1', '5', 'EN', '2', 'Cuauhtemoc', 'Department Store', 'pesos', 'Mexico', '93', 'Río Rhin 56, Piso 6', 'Distrito Federal', 'MER-KA-DOS, S.A. de C.V.');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (129, 'EN', 'F11', '11', 'Miyagi', '81-92-985-2334', '81-92-985-2333', '379-2548', 'Asia Pacific', 'Golf Shop Jiro', '4', '3', 'EN', '1', 'Miyagino-ku', 'Golf Shop', 'yen', 'Japan', '235', '232-87-515 Zundabashi', 'Sendai City', 'Golf Shop Jiro');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (130, 'EN', 'F11', '11', 'Tokyo', '81-3-5547-6210', '81-3-5547-6209', '530-9125', 'Asia Pacific', 'Japan Sports Youhinten', '4', '12', 'EN', '8', 'None', 'Sports Store', 'yen', 'Japan', '236', '1-1-1 Hamakubo', 'Shibuya-ku', 'Japan Sports Youhinten');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (131, 'EN', 'F11', '11', 'Tokyo', '81-3-1888-7145', '81-3-1888-7144', '259-3047', 'Asia Pacific', 'Hinode Megane', '4', '10', 'EN', '7', 'None', 'Eyewear Store', 'yen', 'Japan', '237', '23-1-9 Jingukoen Mae', 'Koto-ku', 'Hinode Megane');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (132, 'EN', 'F11', '11', 'Fukuoka', '81-92-211-6512', '81-92-211-6511', '211-6511', 'Asia Pacific', 'Hanagata Golf Shop', '4', '3', 'EN', '1', 'Naka-ku', 'Golf Shop', 'yen', 'Japan', '238', '78-98-390 Tenno', 'Fukuoka City', 'Hanagata Golf Shop');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (134, 'EN', 'F11', '11', 'Osaka', '81-6-439-0002', '81-6-439-0001', '471-2314', 'Asia Pacific', 'Kanjosen Sport', '4', '11', 'EN', '8', 'Hita-ku', 'Sports Store', 'yen', 'Japan', '239', '11-33-11 Hita', 'Osaka City', 'Kanjosen Sport');
INSERT INTO RETAILER (RETAILER_id, COUNTRY_LANGUAGE_id, FLAG_image, COUNTRY_id, REGION_name, FAX_phone, PHONE_phone, POSTAL_ZONE_code, TERRITORY_name, RETAILER_name, SALES_TERRITORY_id, SEGMENT_code, SEGMENT_LANGUAGE_id, RETAILER_TYPE_id, ADDRESS2_address, RETAILER_TYPE_name, CURRENCY_name, COUNTRY_name, RETAILER_MR_id, ADDRESS1_address, CITY_name, COMPANY_name) VALUES (136, 'EN', 'F11', '11', 'Hiroshima', '81-82-111-3266', '81-82-111-3265', '748-2156', 'Asia Pacific', 'NIPPON Sofcon Net', '4', '7', 'EN', '3', 'Nakano-ku', 'Direct Marketing', 'yen', 'Japan', '240', '346-126 Nishikamakuracho', 'Hiroshima City', 'NIPPON Sofcon Net');

## Order ETL

In [193]:
# Merge
order_etl = pd.merge(order_header, order_method, on='ORDER_METHOD_CODE').rename(columns=rename_mapping)

# Exclude redundant foreign key columns
# RETAILER_SITE_code can be derived from RETAILER_CONTACT_id
# SALES_BRANCH_code can be derived from SALES_STAFF_id
order_etl = excludeColumns(order_etl, ['RETAILER_SITE_id', 'SALES_BRANCH_id'])

# Exclude
order_etl = filterColumns(order_etl)

# Assert
sizeCheck(order_etl,7)
order_etl

# Create
createTable(order_etl, 'ORDER_TABLE_id')
insertTable(order_etl, 'ORDER_TABLE_id')

Table has 7 columns
CREATE TABLE ORDER_TABLE (ORDER_TABLE_id INT NOT NULL PRIMARY KEY, RETAILER_name NVARCHAR(80), RETAILER_CONTACT_id INT, ORDER_METHOD_name NVARCHAR(80), ORDER_METHOD_id INT, ORDER_DATE_date NVARCHAR(30), SALES_STAFF_id INT)
Table already exists in database
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1153, 'Ultra Sports', '6', 'Sales visit', '7', '2020-04-14', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1154, 'Ultra Sports', '6', 'E-mail', '4', '2020-10-01', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1155, 'Ultra Sports', '65', 'Sales visit', '7', '2020-04-21', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1156, 'Ultra Sports', '65', 'Web', '5', '2020-09-09', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1157, 'Ultra Sports', '66', 'Telephone', '2', '2020-04-10', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1158, 'Ultra Sports', '66', 'E-mail', '4', '2020-10-06', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1159, 'VIP Department Stores', '68', 'Sales visit', '7', '2020-04-05', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1160, 'VIP Department Stores', '68', 'Web', '5', '2020-09-28', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1161, 'VIP Department Stores', '70', 'Fax', '1', '2020-03-27', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1162, 'VIP Department Stores', '70', 'E-mail', '4', '2020-10-25', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1163, 'Le Golfeur', '10', 'Web', '5', '2020-03-20', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1164, 'Le Golfeur', '10', 'Sales visit', '7', '2020-09-12', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1165, 'Sunglass Corner', '72', 'Sales visit', '7', '2020-03-22', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1167, 'Falcon Outfitters', '73', 'Sales visit', '7', '2020-03-14', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1168, 'Falcon Outfitters', '73', 'Web', '5', '2020-10-11', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1169, 'Falcon Outfitters', '74', 'Web', '5', '2020-04-25', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1170, 'Falcon Outfitters', '74', 'Telephone', '2', '2020-10-23', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1171, 'Falcon Outfitters', '4', 'Mail', '3', '2020-04-16', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1172, 'Falcon Outfitters', '4', 'Fax', '1', '2020-09-23', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1173, 'Falcon Outfitters', '17', 'Sales visit', '7', '2020-03-27', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1174, 'Falcon Outfitters', '17', 'Telephone', '2', '2020-09-26', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1175, 'Maximum Sports', '75', 'E-mail', '4', '2020-04-08', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1176, 'Maximum Sports', '75', 'Sales visit', '7', '2020-10-13', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1177, 'Maximum Sports', '5', 'Special', '8', '2020-03-18', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1178, 'Maximum Sports', '5', 'Sales visit', '7', '2020-09-30', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1179, 'Maximum Sports', '76', 'Telephone', '2', '2020-04-02', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1180, 'Maximum Sports', '76', 'Telephone', '2', '2020-10-17', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1181, 'Maximum Sports', '11', 'E-mail', '4', '2020-03-20', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1182, 'Maximum Sports', '11', 'Sales visit', '7', '2020-09-27', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1184, 'Maximum Sports', '77', 'Mail', '3', '2020-09-18', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1185, 'Act'N'Up Fitness', '13', 'Telephone', '2', '2020-04-09', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1186, 'Act'N'Up Fitness', '13', 'Fax', '1', '2020-09-19', '49');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1187, 'Act'N'Up Fitness', '15', 'Mail', '3', '2020-03-20', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1188, 'Act'N'Up Fitness', '15', 'Telephone', '2', '2020-09-30', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1189, 'Act'N'Up Fitness', '14', 'Telephone', '2', '2020-03-24', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1190, 'Act'N'Up Fitness', '14', 'Fax', '1', '2020-09-29', '50');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1191, 'Rock Steady', '30', 'Sales visit', '7', '2020-04-23', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1193, 'Ultra Sports', '23', 'Sales visit', '7', '2020-04-07', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1194, 'Ultra Sports', '23', 'Telephone', '2', '2020-10-09', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1197, 'VIP Department Stores', '9', 'Fax', '1', '2020-04-25', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1198, 'VIP Department Stores', '9', 'Sales visit', '7', '2020-10-25', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1199, 'VIP Department Stores', '22', 'Mail', '3', '2020-04-09', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1200, 'VIP Department Stores', '22', 'Sales visit', '7', '2020-10-21', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1201, 'VIP Department Stores', '69', 'Sales visit', '7', '2020-03-21', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1202, 'VIP Department Stores', '69', 'Sales visit', '7', '2020-10-23', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1204, 'Sunglass Corner', '71', 'Fax', '1', '2020-10-09', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1205, 'Falcon Outfitters', '32', 'E-mail', '4', '2020-04-23', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1206, 'Falcon Outfitters', '32', 'Sales visit', '7', '2020-10-04', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1207, 'Act'N'Up Fitness', '31', 'Telephone', '2', '2020-04-04', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1208, 'Act'N'Up Fitness', '31', 'Telephone', '2', '2020-09-18', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1209, 'Rock Steady', '30', 'Sales visit', '7', '2021-03-19', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1210, 'Rock Steady', '30', 'Sales visit', '7', '2021-10-05', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1211, 'Ultra Sports', '23', 'Telephone', '2', '2021-03-14', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1212, 'Ultra Sports', '23', 'Telephone', '2', '2021-09-14', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1213, 'Mountain Madness', '67', 'Telephone', '2', '2021-03-30', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1214, 'Mountain Madness', '67', 'Web', '5', '2021-10-18', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1215, 'VIP Department Stores', '9', 'Web', '5', '2021-03-26', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1216, 'VIP Department Stores', '9', 'E-mail', '4', '2021-09-14', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1217, 'VIP Department Stores', '22', 'E-mail', '4', '2021-03-26', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1218, 'VIP Department Stores', '22', 'Fax', '1', '2021-10-12', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1219, 'VIP Department Stores', '69', 'Sales visit', '7', '2021-03-29', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1220, 'VIP Department Stores', '69', 'Web', '5', '2021-09-17', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1221, 'Sunglass Corner', '71', 'Telephone', '2', '2021-04-16', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1223, 'Falcon Outfitters', '32', 'Web', '5', '2021-03-28', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1224, 'Falcon Outfitters', '32', 'Web', '5', '2021-09-17', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1225, 'Act'N'Up Fitness', '31', 'Sales visit', '7', '2021-04-25', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1226, 'Act'N'Up Fitness', '31', 'Telephone', '2', '2021-10-22', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1227, 'Rock Steady', '30', 'Fax', '1', '2022-04-22', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1228, 'Rock Steady', '30', 'Web', '5', '2022-09-26', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1229, 'Ultra Sports', '23', 'Fax', '1', '2022-03-30', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1230, 'Ultra Sports', '23', 'Web', '5', '2022-10-12', '43');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1231, 'Mountain Madness', '67', 'Telephone', '2', '2022-03-17', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1232, 'Mountain Madness', '67', 'Sales visit', '7', '2022-09-24', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1233, 'VIP Department Stores', '9', 'E-mail', '4', '2022-03-15', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1234, 'VIP Department Stores', '9', 'Telephone', '2', '2022-10-13', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1235, 'VIP Department Stores', '22', 'Web', '5', '2022-04-01', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1236, 'VIP Department Stores', '22', 'E-mail', '4', '2022-09-11', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1237, 'VIP Department Stores', '69', 'Sales visit', '7', '2022-03-16', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1238, 'VIP Department Stores', '69', 'Web', '5', '2022-09-28', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1239, 'Sunglass Corner', '71', 'Mail', '3', '2022-03-17', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1240, 'Sunglass Corner', '71', 'Web', '5', '2022-10-24', '46');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1241, 'Falcon Outfitters', '32', 'Web', '5', '2022-04-20', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1242, 'Falcon Outfitters', '32', 'E-mail', '4', '2022-10-14', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1243, 'Act'N'Up Fitness', '31', 'E-mail', '4', '2022-03-18', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1244, 'Act'N'Up Fitness', '31', 'Web', '5', '2022-09-20', '44');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1245, 'Rock Steady', '7', 'Sales visit', '7', '2021-04-04', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1246, 'Rock Steady', '7', 'E-mail', '4', '2021-09-14', '51');
INSERT INTO ORDER_TABLE (ORDER_TABLE_id, RETAILER_name, RETAILER_CONTACT_id, ORDER_METHOD_name, ORDER_METHOD_id, ORDER_DATE_date, SALES_STAFF_id) VALUES (1247, 'Rock Steady', '16', 'E-mail', '4', '2021-04-16', '51');

## Return reason ETL

In [192]:
# Rename
return_reason_etl = return_reason.rename(columns=rename_mapping)

# Exclude
return_reason_etl = filterColumns(return_reason_etl)

# Assert
sizeCheck(return_reason_etl,2)
return_reason_etl

# Create
createTable(return_reason_etl, 'RETURN_REASON_id')
insertTable(return_reason_etl, 'RETURN_REASON_id')

Table has 2 columns
CREATE TABLE RETURN_REASON (RETURN_REASON_id INT NOT NULL PRIMARY KEY, RETURN_REASON_description NTEXT)
Table already exists in database

## Returned Item ETL

In [191]:
# Rename 
returned_item_etl = returned_item.rename(columns=rename_mapping)

# Exclude 
returned_item_etl = filterColumns(returned_item_etl)

# Assert
sizeCheck(returned_item_etl,5)
returned_item_etl

# Create
createTable(returned_item_etl, 'RETURNS_id')
insertTable(returned_item_etl, 'RETURNS_id')

Table has 5 columns
CREATE TABLE RETURNS (RETURNS_id INT NOT NULL PRIMARY KEY, RETURN_QUANTITY_number INT, RETURN_DATE_date NVARCHAR(30), ORDER_DETAIL_id INT, RETURN_REASON_id INT)
Table already exists in database

## Order Details ETL

In [190]:
# Rename
order_detail_etl = order_details.rename(columns=rename_mapping)

# Exclude
order_detail_etl = filterColumns(order_detail_etl)

# Assert
sizeCheck(order_detail_etl,7)
order_detail_etl

# Create
createTable(order_detail_etl, 'ORDER_DETAIL_id')
insertTable(order_detail_etl, 'ORDER_DETAIL_id')

Table has 7 columns
CREATE TABLE ORDER_DETAIL (ORDER_DETAIL_id INT NOT NULL PRIMARY KEY, UNIT_PRICE_money DECIMAL(19,4), QUANTITY_number INT, UNIT_COST_money DECIMAL(19,4), PRODUCT_id INT, ORDER_TABLE_id INT, UNIT_SALE_PRICE_money DECIMAL(19,4))
Table already exists in database