# ETLs

In [53]:
import pandas as pd
import sqlite3

sales_con = sqlite3.connect("go_sales.sqlite")
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", sales_con)

products = pd.read_sql_query("SELECT * FROM product", sales_con)
product_types = pd.read_sql_query("SELECT * FROM product_type", sales_con)

tables

                name
0            country
1      order_details
2       order_header
3       order_method
4            product
5       product_line
6       product_type
7      retailer_site
8      return_reason
9      returned_item
10      sales_branch
11       sales_staff
12  SALES_TARGETData
13   sqlite_sequence

In [54]:
products_etl = pd.merge(products, product_types, on="PRODUCT_TYPE_CODE")\
    [[
        "PRODUCT_NAME", "PRODUCT_IMAGE", "PRODUCT_NUMBER",
        "DESCRIPTION", "LANGUAGE", "PRODUCTION_COST",
        "MARGIN", "INTRODUCTION_DATE"
    ]]\
    .rename(columns={
        "PRODUCT_NAME": "PRODUCT_name",
        "PRODUCT_IMAGE": "PRODUCT_image",
        "PRODUCT_NUMBER": "PRODUCT_id",
        "DESCRIPTION": "PRODUCT_description",
        "LANGUAGE": "PRODUCT_LANGUAGE_name",
        "PRODUCTION_COST": "PRODUCT_PRODUCTION_COST_cost",
        "MARGIN": "PRODUCT_MARGIN_percentage",
        "INTRODUCTION_DATE": "PRODUCT_INTRODUCTION_DATE_date",
    })

products_etl

                 PRODUCT_name  ... PRODUCT_INTRODUCTION_DATE_date
0         TrailChef Water Bag  ...                      15-2-2011
1          TrailChef Utensils  ...                      15-2-2011
2          Insect Bite Relief  ...                      15-2-2011
3       Hailstorm Steel Irons  ...                     15-12-2019
4    Hailstorm Titanium Irons  ...                     10-12-2019
..                        ...  ...                            ...
110                Sun Shield  ...                      15-2-2011
111        Compact Relief Kit  ...                      15-2-2011
112  Deluxe Family Relief Kit  ...                       5-3-2013
113           Calamine Relief  ...                      15-2-2011
114               Aloe Relief  ...                      15-2-2011

[115 rows x 8 columns]